Repository kubernetes-sigs/cluster-api, pull requests merged in 2024-06, with the labels that each got.

#9837 🌱 MinReadySeconds for machinepools
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  exp/api/v1beta1/machinepool_types.go
  exp/internal/controllers/machinepool_controller_noderef.go
  exp/internal/controllers/machinepool_controller_noderef_test.go
  exp/internal/controllers/machinepool_controller_phases_test.go
Labels: cncf-cla: yes, lgtm, lifecycle/stale, size/L, approved, ok-to-test, area/machinepool

#10265 :book: Fix typo in docs for TopologyDryRunAnnotation
  api/v1beta1/common_types.go
  docs/book/src/reference/labels_and_annotations.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/documentation

#10719 :book: fix broken kubebuilder link in old docs
  docs/book/src/developer/providers/migrations/v0.3-to-v0.4.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/documentation

#10699 :bug: Add for new linters to fix old syntax
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  bootstrap/kubeadm/internal/cloudinit/controlplane_test.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  bootstrap/kubeadm/internal/ignition/clc/clc_test.go
  bootstrap/kubeadm/internal/ignition/ignition_test.go
  bootstrap/kubeadm/internal/locking/control_plane_init_mutex_test.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfigtemplate_test.go
  cmd/clusterctl/client/cluster/components.go
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/cluster/upgrader.go
  cmd/clusterctl/client/repository/repository_github.go
  cmd/clusterctl/client/tree/util.go
  cmd/clusterctl/cmd/version_checker.go
  controllers/remote/keyedmutex_test.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/scale_test.go
  controlplane/kubeadm/internal/controllers/status_test.go
  controlplane/kubeadm/internal/controllers/upgrade_test.go
  exp/internal/controllers/machinepool_controller_phases.go
  exp/internal/controllers/machinepool_controller_phases_test.go
  exp/topology/desiredstate/desired_state.go
  exp/util/util_test.go
  hack/tools/prowjob-gen/generator.go
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/machineset_delete_policy_test.go
  internal/util/compare/equal_test.go
  internal/webhooks/clusterclass.go
  test/e2e/clusterclass_rollout.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/kcp_adoption.go
  test/e2e/scale.go
  test/framework/docker_logcollector.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
  test/infrastructure/inmemory/pkg/runtime/cache/cache_test.go
  test/infrastructure/inmemory/pkg/runtime/cache/gc.go
  test/infrastructure/inmemory/pkg/runtime/cache/sync.go
  util/annotations/helpers_test.go
  util/conversion/conversion.go
  util/labels/helpers_test.go
  util/resource/resource_test.go
  util/util.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/ci

#10667 🌱 Allow control plane provider to set endpoint
  docs/book/src/developer/architecture/controllers/cluster.md
  docs/book/src/developer/architecture/controllers/control-plane.md
  docs/proposals/20230407-flexible-managed-k8s-endpoints.md
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/cluster/cluster_controller_phases_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/api

#10718 :seedling: MachineHealthCheck should take Machine's InfraReady condition
  api/v1beta1/clusterclass_types.go
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/machinehealthcheck

#10731 🌱 fix loopvar linter issue and usage of deprecated grpc function
  controlplane/kubeadm/internal/etcd/etcd.go
  internal/controllers/machinedeployment/mdutil/util.go
  test/infrastructure/inmemory/pkg/server/mux_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#10730 🌱 Improve E2E tests for finalizers and ownerRefs
  test/framework/finalizers_helpers.go
  test/framework/ownerreference_helpers.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#10727 🌱Bump cert-manager to v1.15.0
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/guide.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clusterctl

#10735 🌱 Fix finalizers assertions
  test/framework/finalizers_helpers.go
  test/framework/ownerreference_helpers.go
  test/framework/resourceversion_helpers.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, area/e2e-testing

#10739 🌱 Bump to Go 1.22.4
  Makefile
  Tiltfile
  netlify.toml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#10740 [release-1.7] 🌱 Bump to Go 1.21.11
  Makefile
  Tiltfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#10741 [release-1.6] 🌱 Bump to Go 1.21.11
  Makefile
  Tiltfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#10744 🚀 Release v1.7.3
  CHANGELOG/v1.7.3.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#10743 🚀 Release v1.6.6
  CHANGELOG/v1.6.6.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#10660 🌱 ipam: add Ready condition failure reasons
  docs/proposals/20220125-ipam-integration.md
  exp/ipam/api/v1beta1/condition_consts.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/ipam

#10694 🌱 Preserve finalizers during MS/Machine reconciliation
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/machinedeployment_sync_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  test/e2e/md_scale.go
  test/framework/machinedeployment_helpers.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/machineset, area/machinedeployment

#10745 🌱 Add IPAM API to test framework convenience scheme
  test/framework/convenience.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/e2e-testing

#10736 🌱 Do not update observed generation if there are reconcile errors
  controlplane/kubeadm/internal/controllers/controller.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/provider/control-plane-kubeadm, area/clusterresourceset

#10752 🌱 Markdown nit in release-1.8.md
  docs/release/releases/release-1.8.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/documentation

#10589 🌱 Propagate timeout fields from MachineSet to Machine during Machine deletion
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/machine

#10712 ✨ Add remediation strategy support in MachineDeployment
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  exp/topology/desiredstate/desired_state_test.go
  internal/apis/core/v1alpha3/conversion.go
  internal/apis/core/v1alpha3/zz_generated.conversion.go
  internal/apis/core/v1alpha4/conversion.go
  internal/apis/core/v1alpha4/zz_generated.conversion.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/webhooks/machinedeployment.go
  internal/webhooks/machinedeployment_test.go
  test/e2e/clusterclass_rollout.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/machineset

#10747 [release-1.7] 🌱 Improvements to ownerReferences and finalizers test
  test/e2e/quick_start_test.go
  test/framework/finalizers_helpers.go
  test/framework/ownerreference_helpers.go
  test/framework/resourceversion_helpers.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, area/e2e-testing

#10755 🌱 Ensure unhealthy machines get deletion priority
  internal/controllers/machineset/machineset_delete_policy.go
  internal/controllers/machineset/machineset_delete_policy_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, do-not-merge/hold, area/machineset

#10757 🌱 Improve logs & conditions when machine is waiting for node
  internal/controllers/machine/machine_controller_noderef.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/machine

#10633 🐛 crs: use separate cache for partial metadata watches on secrets to include all secrets
  exp/addons/controllers/alias.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/addons/internal/controllers/predicates/resource_predicates.go
  exp/addons/internal/controllers/suite_test.go
  exp/runtime/controllers/alias.go
  exp/runtime/internal/controllers/extensionconfig_controller.go
  main.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/clusterresourceset

#10759 [release-1.7] :sparkles: Add remediation strategy support in MachineDeployment
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  exp/topology/desiredstate/desired_state_test.go
  internal/apis/core/v1alpha3/conversion.go
  internal/apis/core/v1alpha3/zz_generated.conversion.go
  internal/apis/core/v1alpha4/conversion.go
  internal/apis/core/v1alpha4/zz_generated.conversion.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/webhooks/machinedeployment.go
  internal/webhooks/machinedeployment_test.go
  test/e2e/clusterclass_rollout.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/machinedeployment

#10662 🐛 Machine deletion skips waiting for volumes detached for unreachable Nodes
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test, area/machine

#10706 🐛 Speed up ignoring terminating Pods when draining unreachable Nodes
  internal/controllers/machine/machine_controller.go
Labels: size/S, cncf-cla: yes, lgtm, approved, ok-to-test, area/machine

#10763 🌱 Deprioritize unknown NodeHealthy conditions for deletion
  internal/controllers/machineset/machineset_delete_policy.go
  internal/controllers/machineset/machineset_delete_policy_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/machineset

#10709 ✨ Add kubeadm v1beta4 types
  Makefile
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/types/upstreamv1beta1/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta1/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta2/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta2/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/bootstraptokenstring.go
  bootstrap/kubeadm/types/upstreamv1beta4/bootstraptokenstring_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/doc.go
  bootstrap/kubeadm/types/upstreamv1beta4/groupversion_info.go
  bootstrap/kubeadm/types/upstreamv1beta4/types.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.deepcopy.go
  bootstrap/kubeadm/types/utils.go
  bootstrap/kubeadm/types/utils_test.go
  test/infrastructure/docker/internal/provisioning/cloudinit/writefiles.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/provider/bootstrap-kubeadm

#10775 🌱 Bump github.com/docker/docker from 26.1.4+incompatible to 27.0.0+incompatible in /test
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
  test/infrastructure/container/docker.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/dependency

#10771 [release-1.7] ✨ Add kubeadm v1beta4 types
  Makefile
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/types/upstreamv1beta1/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta1/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta2/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta2/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/bootstraptokenstring.go
  bootstrap/kubeadm/types/upstreamv1beta4/bootstraptokenstring_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/doc.go
  bootstrap/kubeadm/types/upstreamv1beta4/groupversion_info.go
  bootstrap/kubeadm/types/upstreamv1beta4/types.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.deepcopy.go
  bootstrap/kubeadm/types/utils.go
  bootstrap/kubeadm/types/utils_test.go
  test/infrastructure/docker/internal/provisioning/cloudinit/writefiles.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/provider/bootstrap-kubeadm

#10656 🐛 Correctly handle concurrent updates to ClusterResourceSetBinding
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/addons/internal/controllers/clusterresourceset_controller_test.go
  exp/addons/internal/controllers/clusterresourceset_helpers.go
  exp/addons/internal/controllers/suite_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/clusterresourceset

#10780 🐛 MD/MS topo reconciler: only add finalizer for owned MD/MS
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/topology/machineset/machineset_controller.go
  internal/controllers/topology/machineset/machineset_controller_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/clusterclass, area/machineset, area/machinedeployment

#10785 [release-1.7] 🐛 Correctly handle concurrent updates to ClusterResourceSetBinding
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/addons/internal/controllers/clusterresourceset_controller_test.go
  exp/addons/internal/controllers/clusterresourceset_helpers.go
  exp/addons/internal/controllers/suite_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clusterresourceset

#10550 ✨ Add support negative polarity conditions
  docs/proposals/20200506-conditions.md
  util/conditions/getter.go
  util/conditions/getter_test.go
  util/conditions/merge.go
  util/conditions/merge_strategies.go
  util/conditions/merge_test.go
  util/conditions/setter.go
  util/conditions/setter_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/api

#10788 🌱 test: export method and types for ClusterUpgradeWithRuntimeSDK
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/cluster_upgrade_runtimesdk_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/testing

#10794 🌱 Bump github.com/docker/docker to v27.0.1
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Labels: size/S, cncf-cla: yes, lgtm, approved, ok-to-test, area/dependency

#9239 :sparkles: Introduce CEL for ClusterClass Variables
  .golangci.yml
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
  internal/controllers/topology/cluster/cluster_controller.go
  internal/topology/variables/cluster_variable_defaulting.go
  internal/topology/variables/cluster_variable_defaulting_test.go
  internal/topology/variables/cluster_variable_validation.go
  internal/topology/variables/cluster_variable_validation_test.go
  internal/topology/variables/clusterclass_variable_validation.go
  internal/topology/variables/clusterclass_variable_validation_test.go
  internal/topology/variables/schema.go
  internal/topology/variables/schema_test.go
  internal/topology/variables/utils.go
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
  internal/webhooks/clusterclass.go
  internal/webhooks/clusterclass_test.go
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/extension/handlers/topologymutation/handler.go
  test/extension/handlers/topologymutation/handler_integration_test.go
  webhooks/alias.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, ok-to-test, area/clusterclass

#10807 🌱Bump cert-manager to v1.15.1
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/guide.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clusterctl

#10778 ✨ Add metadata for top-level and nested variables & deprecate previous metadata field
  .golangci.yml
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/controllers/clusterclass/clusterclass_controller_test.go
  internal/topology/variables/clusterclass_variable_validation.go
  internal/topology/variables/clusterclass_variable_validation_test.go
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/extension/handlers/topologymutation/handler.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/clusterclass

#10802 [release-1.6] ✨ Bump to Go 1.22.4
  .golangci.yml
  Makefile
  Tiltfile
  cloudbuild-nightly.yaml
  cloudbuild.yaml
  hack/ensure-go.sh
Labels: size/S, cncf-cla: yes, lgtm, approved, area/dependency

#10801 [release-1.7] ✨ Bump to Go 1.22.4
  .golangci.yml
  Makefile
  Tiltfile
  cloudbuild-nightly.yaml
  cloudbuild.yaml
  hack/ensure-go.sh
Labels: size/S, cncf-cla: yes, lgtm, approved, area/dependency

#10809 🌱 Separate schema and CEL errors in CC variable validation
  internal/topology/variables/clusterclass_variable_validation.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clusterclass

#10756 🌱 Ensure CRS controller always add ownerReference to resources
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/addons/internal/controllers/clusterresourceset_controller_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/clusterresourceset

#10812 ✨ Add variable validation to ClusterClass controller, block Cluster reconcile if variables not reconciled
  cmd/clusterctl/client/cluster/topology.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/clusterclass/clusterclass_controller_test.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/test/builder/builders.go
  internal/test/builder/zz_generated.deepcopy.go
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clusterclass

#10815 [release-1.6] 🌱 Makefile: pin controller-gen binary to go 1.21
  Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/devtools

#10800 [release-1.7] 🌱 Allow control plane provider to set endpoint
  docs/book/src/developer/architecture/controllers/cluster.md
  docs/book/src/developer/architecture/controllers/control-plane.md
  docs/proposals/20230407-flexible-managed-k8s-endpoints.md
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/cluster/cluster_controller_phases_test.go
Labels: cncf-cla: yes, lgtm, approved, tide/merge-method-squash, area/control-plane

#10804 🌱 e2e: add function to create the ClusterProxy when using a secondary kind-based management cluster
  test/e2e/clusterctl_upgrade.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#10811 🌱 tilt: ensure in-tree providers always use start.sh to allow restarts
  hack/tools/internal/tilt-prepare/main.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/devtools
