Repository kubernetes-sigs/cluster-api, pull requests merged in 2024-10, with the labels that each got.

#10637 :sparkles: Add support for oneOf/anyOf/allOf/not ClusterClass variable schema constructs
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/topology/variables/cluster_variable_validation_test.go
  internal/topology/variables/clusterclass_variable_validation.go
  internal/topology/variables/clusterclass_variable_validation_test.go
  internal/topology/variables/schema.go
  internal/topology/variables/schema_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/clusterclass

#11228 ✨ MachineSet: Promote MachineSetPreflightChecks to Beta
  config/manager/manager.yaml
  docs/book/src/developer/core/testing.md
  docs/book/src/tasks/experimental-features/machineset-preflight-checks.md
  feature/feature.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/machineset_preflight_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/machineset

#11248 🌱 add cacheSyncPeriod option to ClusterCacheTracker
  controllers/remote/cluster_cache_tracker.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/clustercachetracker

#11242 ✨ Suppress finalizer name API warnings in CAPI, CABPK, and KCP controller logs
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/logging

#11250 :book: update karpenter feature group charter
  docs/community/20231018-karpenter-integration.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/documentation

#11251 📖 Clarify MinReadySeconds transition in the v1Beta2 API
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/documentation

#11235 📖 Refactor the BootstrapConfig contract
  docs/book/src/SUMMARY.md
  docs/book/src/developer/core/controllers/bootstrap.md
  docs/book/src/developer/core/controllers/machine.md
  docs/book/src/developer/providers/contracts/bootstrap-config.md
  docs/book/src/developer/providers/contracts/infra-cluster.md
  docs/book/src/developer/providers/contracts/infra-machine.md
  docs/book/src/developer/providers/security-guidelines.md
  docs/book/src/images/machine-phases.plantuml
  docs/book/src/images/machine-phases.png
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/documentation

#11256 🌱 Add maxItems to all condition fields
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
  exp/addons/api/v1beta1/clusterresourceset_types.go
  exp/api/v1beta1/machinepool_types.go
  internal/test/builder/crd/test.cluster.x-k8s.io_phase1obj.yaml
  internal/test/builder/crd/test.cluster.x-k8s.io_phase2obj.yaml
  internal/test/builder/crd/test.cluster.x-k8s.io_phase3obj.yaml
  internal/test/builder/v1beta2_transition.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/api

#11253 🌱Export conditions.HasSameState method
  util/conditions/getter.go
  util/conditions/matchers.go
  util/conditions/merge_strategies.go
  util/conditions/patch.go
  util/conditions/setter.go
  util/conditions/setter_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/util

#11260 🌱 Switch to using ECR mirror for trivy DB repo in weekly security scan
  hack/verify-container-images.sh
Labels: size/S, cncf-cla: yes, lgtm, approved, area/ci

#11259 🌱 Make Type in ClusterClass variable schema properly optional
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/clusterclass

#11268 🚀 Release v1.7.7
  CHANGELOG/v1.7.7.md
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/release

#11269 🚀 Release v1.8.4
  CHANGELOG/v1.8.4.md
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/release

#11252 🌱 Improve unit tests for Machine controller
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machine/machine_controller_phases_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/machine

#11270 🌱 Fix parsing of `config.live_reload_deps` from Tilt provider config file
  hack/tools/internal/tilt-prepare/main.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/devtools

#11274 📖 Fix some nits in BootstrapConfig docs
  docs/book/src/developer/core/controllers/machine.md
  docs/book/src/developer/providers/contracts/bootstrap-config.md
  docs/book/src/developer/providers/contracts/infra-machine.md
  docs/book/src/developer/providers/security-guidelines.md
Labels: size/S, cncf-cla: yes, lgtm, approved, area/documentation

#11279 🌱 Check for panics during test runs in envtest
  internal/test/envtest/environment.go
  test/framework/deployment_helpers.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/testing

#11239 :warning: Fix object logging in predicates
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  controlplane/kubeadm/internal/controllers/controller.go
  exp/internal/controllers/machinepool_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machineset/machineset_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorycluster_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
  util/predicates/cluster_predicates.go
  util/predicates/cluster_predicates_test.go
  util/predicates/generic_predicates.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/util

#11281 🌱 v1beta2 conditions: make NewAggregate use generics
  util/conditions/v1beta2/aggregate.go
  util/conditions/v1beta2/aggregate_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/util

#10519 📖 Update InfraCluster provider contract to account for the paused condition
  docs/book/src/developer/providers/contracts/infra-cluster.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/documentation

#11282 🌱 Improve sort for v1beta2 conditions
  util/conditions/v1beta2/aggregate_test.go
  util/conditions/v1beta2/setter.go
  util/conditions/v1beta2/sort.go
  util/conditions/v1beta2/sort_test.go
  util/conditions/v1beta2/summary_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/util

#11275 📖 Update InfraMachine contract to include pausing rule
  docs/book/src/developer/providers/contracts/infra-machine.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/documentation

#11276 ✨ Update machine with v1beta2 status
  api/v1beta1/machine_types.go
  api/v1beta1/v1beta2_condition_consts.go
  internal/contract/bootstrap.go
  internal/contract/infrastructure_machine.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machine/machine_controller_phases_test.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/machineset/suite_test.go
  internal/webhooks/machine_test.go
  util/conditions/v1beta2/aggregate.go
  util/conditions/v1beta2/getter.go
  util/conditions/v1beta2/getter_test.go
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/merge_strategies_test.go
  util/conditions/v1beta2/mirror.go
  util/conditions/v1beta2/mirror_test.go
  util/conditions/v1beta2/options.go
  util/conditions/v1beta2/summary.go
  util/conditions/v1beta2/summary_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/api

#11286 🌱 Handle finalizers early in Reconciles
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/internal/controllers/machinepool_controller.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machineset/machineset_controller.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorycluster_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
  util/finalizers/finalizers.go
  util/finalizers/finalizers_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/util

#11255 🐛Fix conditions lexicographicLess nil pointer dereference
  util/conditions/setter.go
  util/conditions/setter_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/util

#11254 🐛Fix conditions hasSameState nil pointer dereference
  util/conditions/setter.go
  util/conditions/setter_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/util

#11287 📖 Update BootstrapConfig contract to include pausing
  docs/book/src/developer/providers/contracts/bootstrap-config.md
  docs/book/src/developer/providers/contracts/infra-machine.md
Labels: size/S, cncf-cla: yes, lgtm, approved, tide/merge-method-squash, ok-to-test, area/documentation

#11293 📖 Update mailing list
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/documentation

#11290 ✨ Update MHC with v1Beta2 status
  api/v1beta1/machine_types.go
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/v1beta2_condition_consts.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
  util/conditions/v1beta2/getter.go
  util/conditions/v1beta2/getter_test.go
  util/conditions/v1beta2/setter.go
  util/conditions/v1beta2/setter_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/machinehealthcheck

#11295 🌱 Remove Go dependencies on k8s.io/kubectl, k8s.io/metrics, sigs.k8s.io/kustomize, ...
  cmd/clusterctl/cmd/completion.go
  cmd/clusterctl/cmd/config_repositories.go
  cmd/clusterctl/cmd/delete.go
  cmd/clusterctl/cmd/describe_cluster.go
  cmd/clusterctl/cmd/generate_cluster.go
  cmd/clusterctl/cmd/generate_provider.go
  cmd/clusterctl/cmd/generate_yaml.go
  cmd/clusterctl/cmd/get_kubeconfig.go
  cmd/clusterctl/cmd/init.go
  cmd/clusterctl/cmd/init_list_images.go
  cmd/clusterctl/cmd/internal/templates/normalizers.go
  cmd/clusterctl/cmd/move.go
  cmd/clusterctl/cmd/rollout.go
  cmd/clusterctl/cmd/rollout/pause.go
  cmd/clusterctl/cmd/rollout/restart.go
  cmd/clusterctl/cmd/rollout/resume.go
  cmd/clusterctl/cmd/rollout/undo.go
  cmd/clusterctl/cmd/root.go
  cmd/clusterctl/cmd/topology_plan.go
  cmd/clusterctl/cmd/upgrade_apply.go
  cmd/clusterctl/cmd/upgrade_plan.go
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/L, approved, area/dependency

#11298 🌱 Remove unused Paused conditions & minor MHC godoc fixes
  api/v1beta1/machine_types.go
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  exp/addons/api/v1beta1/v1beta2_condition_consts.go
  exp/api/v1beta1/v1beta2_condition_consts.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  test/infrastructure/docker/api/v1beta1/v1beta2_condition_consts.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/api

#11284 🌱 v1beta2 conditions: add function for setting the Paused condition
  api/v1beta1/machine_types.go
  bootstrap/kubeadm/internal/builder/builders.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  cmd/clusterctl/client/cluster/topology.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/internal/controllers/machinepool_controller.go
  exp/internal/controllers/machinepool_controller_test.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  test/extension/handlers/topologymutation/handler_integration_test.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorycluster_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
  util/conditions/v1beta2/patch.go
  util/paused/paused.go
  util/paused/paused_test.go
  util/predicates/cluster_predicates.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/api

#11241 📖 Proposal: MachineDrainRules
  docs/proposals/20210310-opt-in-autoscaling-from-zero.md
  docs/proposals/20220209-machinepool-machines.md
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
  docs/proposals/20240930-machine-drain-rules.md
  docs/release/release-team.md
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/machine

#11291 🌱 Implement Machine Deleting condition
  api/v1beta1/machine_types.go
  api/v1beta1/v1beta2_condition_consts.go
  controllers/alias.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/machine/drain/cache.go
  internal/controllers/machine/drain/drain.go
  internal/controllers/machine/drain/drain_test.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machine/machine_controller_test.go
  internal/util/cache/cache.go
  internal/util/cache/cache_test.go
  internal/util/cache/doc.go
  main.go
  util/conditions/v1beta2/options.go
  util/conditions/v1beta2/summary.go
  util/conditions/v1beta2/summary_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/machine

#11305 🐛 fix: incorrect name used in kustomize path
  test/framework/kubernetesversions/data/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/testing

#11303 [release-1.8] 🌱 test: add PreWaitForControlplaneToBeUpgraded to ClusterUpgradeConformanceSpec
  Makefile
  test/e2e/cluster_upgrade.go
  test/e2e/cluster_upgrade_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-pre-drain/cluster.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-pre-drain/kustomization.yaml
  test/framework/controlplane_helpers.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/e2e-testing

#11283 :seedling: Make controller mandatory param for external object tracker
  controllers/external/fake/controller.go
  controllers/external/fake/doc.go
  controllers/external/tracker.go
  exp/internal/controllers/machinepool_controller_phases_test.go
  exp/internal/controllers/machinepool_controller_test.go
  internal/controllers/cluster/cluster_controller_phases_test.go
  internal/controllers/machine/machine_controller_phases_test.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/topology/cluster/cluster_controller.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/util

#11306 🐛 [release-1.8] kcp: consider all machines for setting .status.version
  controlplane/kubeadm/internal/controllers/status.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/provider/control-plane-kubeadm

#11304 🐛 kcp: consider all machines for setting .status.version
  controlplane/kubeadm/internal/controllers/status.go
  util/collections/machine_filters.go
  util/collections/machine_filters_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, area/provider/control-plane-kubeadm

#11297 ✨ Add v1beta2 OwnerRemediated condition to KCP
  api/v1beta1/machine_types.go
  api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/remediation_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/control-plane-kubeadm

#11314 🌱 Fix flake in TestClusterReconciler
  internal/controllers/cluster/suite_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/clustercachetracker

#11300 🌱 Deprecate old pausing predicates
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  util/predicates/cluster_predicates.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/util

#11302 ✨ Add v1beta2 Etcd and ControlPlaneComponents conditions to KCP
  api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  controlplane/kubeadm/internal/workload_cluster_conditions_test.go
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/provider/control-plane-kubeadm

#11312 🌱 Deprecate ClusterCacheTracker
  controllers/remote/cluster_cache_reconciler.go
  controllers/remote/cluster_cache_tracker.go
  controllers/remote/cluster_cache_tracker_fake.go
  controllers/remote/index.go
  controlplane/kubeadm/internal/controllers/controller.go
  docs/book/src/developer/providers/migrations/v1.8-to-v1.9.md
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clustercachetracker

#11318 :seedling: Remove json logging replacement in e2e test config
  test/e2e/config/docker.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#11309 🌱 Use internal error reason consistently
  api/v1beta1/machine_types.go
  internal/controllers/machine/machine_controller_status.go
  util/conditions/v1beta2/summary.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/machine

#11319 🌱 KCP: Skip validation if CoreDNS migration library supports an upgrade if the library is not used
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/provider/control-plane-kubeadm

#11278 ✨ Update machineset with v1beta2 status test
  api/v1beta1/machineset_types.go
  api/v1beta1/v1beta2_condition_consts.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_status.go
  internal/controllers/machineset/machineset_controller_status_test.go
  internal/controllers/machineset/machineset_controller_test.go
  util/log/log.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/api

#11317 🌱 api: deprecate FailureMessage and FailureReason
  .golangci.yml
  api/v1beta1/cluster_types.go
  api/v1beta1/machine_types.go
  api/v1beta1/machineset_types.go
  api/v1beta1/zz_generated.openapi.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  exp/api/v1beta1/machinepool_types.go
  internal/contract/bootstrap.go
  internal/contract/controlplane.go
  internal/contract/infrastructure_cluster.go
  internal/contract/infrastructure_machine.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/api

#10899 :bug: Add race option to detect raced codes
  Makefile
  test/infrastructure/inmemory/pkg/runtime/cache/sync.go
Labels: size/S, cncf-cla: yes, lgtm, approved, tide/merge-method-squash, area/testing

#11328 🌱 use latest atomic variable instead of old one
  test/infrastructure/inmemory/pkg/runtime/cache/cache_test.go
  test/infrastructure/inmemory/pkg/runtime/cache/gc.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/testing

#11329 🌱 Improve log when not enough replicas are ready or referenced
  exp/internal/controllers/machinepool_controller_noderef.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/logging

#11330 🌱 Improve machine Ready v1beta2 condition
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/machine

#11326 🐛 Fix sorting of v1beta2 conditions when patching
  util/conditions/v1beta2/options.go
  util/conditions/v1beta2/patch.go
  util/conditions/v1beta2/patch_test.go
  util/patch/patch.go
  util/patch/patch_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/util

#11320 ✨ Add more v1beta2 conditions to KCP
  api/v1beta1/machineset_types.go
  api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/scale.go
  controlplane/kubeadm/internal/controllers/scale_test.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
  util/collections/machine_filters.go
  util/collections/machine_filters_test.go
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/merge_strategies_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/provider/control-plane-kubeadm, area/provider/infrastructure-docker

#11336 :seedling: Remove clustercache nil checks
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/util

#11335 🌱 kcp: ensure ReadinessGates for v1beta2 conditions get set
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, area/provider/control-plane-kubeadm

#11340 🌱 Deprecate CCT ErrClusterLocked
  controllers/remote/cluster_cache_tracker.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/clustercachetracker

#11341 🌱 Drop ReconcileError events
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/logging

#11123 🌱 Add NamingStrategy to KubeadmControlPlane
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_types.go
  controlplane/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplanetemplate.go
  internal/apis/controlplane/kubeadm/v1alpha3/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha3/zz_generated.conversion.go
  internal/apis/controlplane/kubeadm/v1alpha4/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha4/zz_generated.conversion.go
  internal/topology/names/names.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/provider/control-plane-kubeadm

#11343 🐛 Try to fix TestClusterCacheHealthCheck test
  controllers/remote/cluster_cache_healthcheck_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/clustercachetracker

#11339 🌱 Implement grace period for KCP remote conditions
  api/v1beta1/machine_types.go
  api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/controllers/alias.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/fakes_test.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  controlplane/kubeadm/main.go
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machine/suite_test.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/suite_test.go
  main.go
  util/collections/machine_filters.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/machine, area/provider/control-plane-kubeadm

#11342 🌱 Truncate lastTransitionTime for v1beta2 conditions
  util/conditions/v1beta2/patch.go
  util/conditions/v1beta2/patch_test.go
  util/conditions/v1beta2/setter.go
  util/conditions/v1beta2/setter_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/util

#11349 :seedling: Add dry-run CreateOrUpdate call in clusterctl upgrade e2e tests
  test/e2e/clusterctl_upgrade.go
  test/framework/cluster_proxy.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#11338 ✨ Add v1beta2 condition to MD controller
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/internal/controllers/status.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_rolling.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete.go
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/controllers/machinedeployment/machinedeployment_status_test.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_status.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/machinedeployment

#11350 🐛 Fix RuntimeClient nil check in ClusterClass controller
  internal/controllers/clusterclass/clusterclass_controller.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/clusterclass

#11354 🌱 Remove killianmuldoon as maintainer
  OWNERS
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/documentation

#11355 📖 Update SIG Cluster Lifecycle mailing list
  CONTRIBUTING.md
  docs/release/release-team.md
  docs/release/release-templates.md
Labels: size/S, cncf-cla: yes, lgtm, approved, area/documentation

#11357 🌱 Bump Go to v1.22.8 version
  Makefile
  Tiltfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#11337 :seedling: Add Canonical Kubernetes providers
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/reference/providers.md
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/clusterctl

#11360 [release-1.7] 🌱 Uplift Go 1.22.8
  Makefile
  Tiltfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#11333 🌱 Export scale e2e test to make it reusable by providers
  test/e2e/scale.go
  test/e2e/scale_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/e2e-testing
