Repository kubernetes-sigs/cluster-api, pull requests merged in 2024-07, with the labels that each got.

#10816 🌱 Bump Cluster API Visualizer to v1.3.1
  hack/observability/visualizer/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/devtools

#10442 🌱 Replace exec kubectl with client CreateOrUpdate
  hack/ensure-kubectl.sh
  scripts/ci-e2e.sh
  test/e2e/clusterclass_rollout.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/kcp_adoption.go
  test/e2e/kcp_remediations.go
  test/e2e/scale.go
  test/framework/autoscaler_helpers.go
  test/framework/cluster_proxy.go
  test/framework/clusterctl/clusterctl_helpers.go
  test/framework/exec/kubectl.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/ci

#10826 🌱 Improve CCT error logging
  controllers/remote/cluster_cache_healthcheck_test.go
  controllers/remote/cluster_cache_tracker.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clustercachetracker

#10825 📖 Improve godoc of the autoscaler replica field defaulting
  internal/webhooks/machinedeployment.go
  internal/webhooks/machineset.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/documentation

#10828 🌱 Bump to Go 1.22.5
  Makefile
  Tiltfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#10829 [release-1.7] 🌱 Bump to Go 1.22.5
  Makefile
  Tiltfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#10830 [release-1.6] 🌱 Bump to Go 1.22.5
  Makefile
  Tiltfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#10715 🌱 Enhance E2E Tests to Filter Out Extra Provider-Specific Metadata
  test/e2e/clusterclass_rollout.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/e2e-testing

#10822 ✨ Extend cluster builtin to include UID
  docs/book/src/tasks/experimental-features/cluster-class/write-clusterclass.md
  exp/runtime/hooks/api/v1alpha1/topologymutation_variable_types.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
  internal/controllers/topology/cluster/patches/engine_test.go
  internal/controllers/topology/cluster/patches/variables/variables.go
  internal/controllers/topology/cluster/patches/variables/variables_test.go
  internal/webhooks/patch_validation.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/runtime-sdk, area/clusterclass

#10824 :bug: Patch helper should be able to patch non-spec objects
  util/patch/patch.go
  util/patch/patch_test.go
  util/patch/utils.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/util

#10832 🌱 test: add restConfigModifier Option to clusterProxy
  test/framework/cluster_proxy.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#10834 🌱 Stop bumping cel-go via dependabot
  .github/dependabot.yaml
  go.mod
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#10799 ✨ Allow CAPBK to generate JoinConfiguration discovery kubeconfig
  Makefile
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  bootstrap/kubeadm/types/upstreamv1beta1/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta1/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta1/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta1/zz_generated.deepcopy.go
  bootstrap/kubeadm/types/upstreamv1beta2/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta2/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta2/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  internal/apis/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha4/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha4/zz_generated.conversion.go
  internal/apis/controlplane/kubeadm/v1alpha3/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha4/conversion.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/bootstrap

#10840 🐛 Fix metadata assert failure in clusterclass rollout test
  test/e2e/clusterclass_rollout.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/testing

#10842 [release-1.7] ✨ Allow CAPBK to generate JoinConfiguration discovery kubeconfig
  Makefile
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  bootstrap/kubeadm/types/upstreamv1beta1/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta1/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta1/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta2/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta2/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta2/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  internal/apis/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha4/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha4/zz_generated.conversion.go
  internal/apis/controlplane/kubeadm/v1alpha3/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha4/conversion.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/bootstrap

#10837 ✨ Extend ControlPlane/ MD / MP builtin to include metadata
  docs/book/src/tasks/experimental-features/cluster-class/write-clusterclass.md
  exp/runtime/hooks/api/v1alpha1/topologymutation_variable_types.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.deepcopy.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
  internal/controllers/topology/cluster/patches/engine_test.go
  internal/controllers/topology/cluster/patches/variables/variables.go
  internal/controllers/topology/cluster/patches/variables/variables_test.go
  internal/test/builder/builders.go
  internal/test/builder/zz_generated.deepcopy.go
  internal/webhooks/patch_validation.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clusterclass

#10850 [release-1.7] ✨ Extend ControlPlane/ MD / MP builtin to include metadata
  docs/book/src/tasks/experimental-features/cluster-class/write-clusterclass.md
  exp/runtime/hooks/api/v1alpha1/topologymutation_variable_types.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.deepcopy.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
  internal/controllers/topology/cluster/patches/engine_test.go
  internal/controllers/topology/cluster/patches/variables/variables.go
  internal/controllers/topology/cluster/patches/variables/variables_test.go
  internal/test/builder/builders.go
  internal/test/builder/zz_generated.deepcopy.go
  internal/webhooks/patch_validation.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clusterclass

#10843 :bug: Fix default namespace of RemediationTemplate for ClusterClass and Topology
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
  internal/webhooks/clusterclass.go
  internal/webhooks/clusterclass_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/clusterclass, area/machinehealthcheck

#10844 🚀 Release v1.6.7
  CHANGELOG/v1.6.7.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#10845 🚀 Release v1.7.4
  CHANGELOG/v1.7.4.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#10817 🐛 Clarify cluster paused and skipping remediation steps
  docs/book/src/tasks/automated-machine-management/healthchecking.md
Labels: size/S, cncf-cla: yes, lgtm, approved, area/documentation

#10851 🌱 Improve metadata assertions in ClusterClass rollout test
  test/e2e/clusterclass_rollout.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/e2e-testing

#10857 :book: update Azure quick start for CAPZ v1.16
  docs/book/src/user/quick-start.md
Labels: size/S, cncf-cla: yes, lgtm, approved, area/provider/azure, area/documentation

#10856 :book: Add missing kubeconfig file
  docs/book/src/user/quick-start.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/documentation

#10861 :book: docs/book/src/developer/providers/bootstrap.md: fix typo
  docs/book/src/developer/providers/bootstrap.md
Labels: cncf-cla: yes, lgtm, kind/documentation, size/XS, approved, ok-to-test, area/documentation

#10841 ⚠️ Adjust CC & Cluster controller to block on variable conflicts, deprecate definitionFrom
  api/v1beta1/cluster_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-topology-mutation-hook.md
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/clusterclass/clusterclass_controller_test.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/controllers/topology/cluster/patches/engine.go
  internal/controllers/topology/cluster/patches/engine_test.go
  internal/controllers/topology/cluster/patches/variables/variables.go
  internal/controllers/topology/cluster/patches/variables/variables_test.go
  internal/topology/variables/cluster_variable_defaulting.go
  internal/topology/variables/cluster_variable_defaulting_test.go
  internal/topology/variables/cluster_variable_validation.go
  internal/topology/variables/cluster_variable_validation_test.go
  internal/topology/variables/utils.go
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
  test/e2e/data/infrastructure-docker/main/cluster-template-upgrades-runtimesdk/cluster-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  test/extension/handlers/topologymutation/handler_integration_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/clusterclass

#10846 ✨ Add ExtraEnvs and ImagePullSerial to KubeadmConfig
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/types/upstreamv1beta1/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta1/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta1/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta2/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta2/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta2/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/filters_test.go
  internal/apis/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha3/suite_test.go
  internal/apis/bootstrap/kubeadm/v1alpha4/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha4/zz_generated.conversion.go
  internal/apis/controlplane/kubeadm/v1alpha3/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha3/suite_test.go
  internal/apis/controlplane/kubeadm/v1alpha4/conversion.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/provider/bootstrap-kubeadm

#10853 🌱 Deprecate MHC MaxUnhealthy & UnhealthyRange fields
  .golangci.yml
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/machinehealthcheck

#10855 🌱 Deprecate MachineDeployment revision management
  .golangci.yml
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/zz_generated.openapi.go
  cmd/clusterctl/client/client.go
  cmd/clusterctl/cmd/rollout/undo.go
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/machinedeployment

#10865 📖 Amend 1.8 release planning
  docs/release/releases/release-1.8.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#10787 🐛Check errors for IsNotFound after patching spec and status
  util/patch/patch.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/util

#10874 🌱 test: Dump resources before deleting extensionconfig
  test/e2e/cluster_upgrade_runtimesdk.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/e2e-testing

#10876 🐛 capd: fix nil pointer in dockermachinepool controller
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/provider/infrastructure-docker

#10873 :bug: Cluster should be provisoned when cpRef and endpoint is set
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/cluster/cluster_controller_phases_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/api

#10864 🚀 Release v1.8.0-beta.0
  CHANGELOG/v1.8.0-beta.0.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/release

#10866 🌱 Add test for patchHelper logic around deletionTimestamps/finalizers
  util/patch/patch_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/util

#10880 ✨ Add QPS & burst options & flags for ClusterCacheTracker
  bootstrap/kubeadm/main.go
  controllers/remote/cluster_cache_tracker.go
  controlplane/kubeadm/main.go
  docs/book/src/developer/providers/migrations/v1.7-to-v1.8.md
  main.go
  test/extension/main.go
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/main.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clustercachetracker

#10886 🐛 Fix race condition in TestPatchHelper test
  util/patch/patch_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/testing

#10879 🌱 test: use pause image for autoscaler tests
  test/framework/autoscaler_helpers.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/e2e-testing

#10887 🌱 test: use pause instead of nginx
  test/framework/deployment_helpers.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/e2e-testing

#10869 🌱 Make ClusterResourceSet controller more predictable
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/addons/internal/controllers/clusterresourceset_controller_test.go
  exp/addons/internal/controllers/suite_test.go
  internal/test/envtest/environment.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-merge, area/clusterresourceset

#10896 [release-1.7] 🌱 Make ClusterResourceSet controller more predictable
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/addons/internal/controllers/clusterresourceset_controller_test.go
  exp/addons/internal/controllers/suite_test.go
  internal/test/envtest/environment.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/clusterresourceset

#10891 📖 Rename In-place Upgrades Feature Group
  docs/community/20231016-in-place-updates.md
Labels: size/S, cncf-cla: yes, lgtm, approved, area/documentation

#10903 🌱 Partially revert changes for ":bug: Cluster should be provisoned when cpRef and endpoint is set"
  api/v1beta1/cluster_phase_types.go
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/cluster/cluster_controller_phases_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/api

#10910 🌱 test: skip cleanup of additional kind cluster if flag is set
  test/e2e/clusterctl_upgrade.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/e2e-testing

#10905 🐛 Fix TestServerSideApplyWithDefaulting flakes
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, area/clusterclass

#10909 :bug: When infrastructureRef is nil, set InfrastructureReadyCondition to true
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/cluster/cluster_controller_phases_test.go
  internal/controllers/cluster/cluster_controller_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/api

#10912 🐛 topology: use raw input object for patch calculation in WalkTemplates
  exp/runtime/topologymutation/walker.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/runtime-sdk

#10918 🌱 use testing.TempDir instead of os.MkdirTemp
  cmd/clusterctl/client/repository/client_test.go
  cmd/clusterctl/client/repository/overrides_test.go
  cmd/clusterctl/client/repository/repository_local_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/testing

#10922 ✨ Bump Kubernetes version used for testing to v1.31.0-beta.0
  test/e2e/config/docker.yaml
  test/framework/bootstrap/kind_util.go
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/e2e-testing

#10923 🚀 Release v1.8.0-beta.1
  CHANGELOG/v1.8.0-beta.1.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/release

#10553 ✨ MachinePools: Use NodeDeletionTimeout and default it to 10s
  exp/internal/controllers/machinepool_controller.go
  exp/internal/controllers/machinepool_controller_test.go
  exp/internal/webhooks/machinepool.go
  exp/internal/webhooks/machinepool_test.go
  internal/controllers/topology/cluster/reconcile_state_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test, area/machinepool

#10913 :bug: MachineSet should allow scale down operations to proceed when templates don't exist
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/machineset

#10883 🐛 Also use tls options for metrics/diagnostics server
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  docs/book/src/developer/providers/migrations/v1.7-to-v1.8.md
  main.go
  test/extension/main.go
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/main.go
  util/flags/diagnostics.go
  util/flags/manager.go
  util/flags/manager_test.go
  util/flags/tls.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test, area/security

#10938 🐛 [release-1.6] docker: ignore kubeadm preflight check for FileContent--proc-sys-net-bridge-bridge-nf-call-ip6tables
  test/infrastructure/docker/internal/provisioning/cloudinit/runcmd.go
  test/infrastructure/docker/internal/provisioning/cloudinit/runcmd_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/provider/infrastructure-docker

#10939 🌱 Improve MP unit test coverage
  exp/internal/controllers/machinepool_controller.go
  exp/internal/controllers/machinepool_controller_noderef.go
  exp/internal/controllers/machinepool_controller_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/machinepool

#10940 🌱 Enable kubeadm ControlPlaneKubeletLocalMode feature gate in e2e tests
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#10919 🌱 use testing.Setenv instead of os.Setenv
  cmd/clusterctl/client/config/cert_manager_client_test.go
  cmd/clusterctl/client/config/providers_client_test.go
  cmd/clusterctl/client/repository/overrides_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, tide/merge-method-squash, area/testing

#10947 ✨ KCP: default ControlPlaneKubeletLocalMode feature gate to true for >= 1.31.0
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/scale.go
  controlplane/kubeadm/internal/controllers/scale_test.go
  controlplane/kubeadm/internal/controllers/upgrade.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_test.go
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/control-plane-kubeadm

#10906 🌱 Reenable 2 MHC unit tests
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/machinehealthcheck

#10930 📖 Add Cluster API release-1.9 timeline document
  docs/release/releases/release-1.9.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#10950 🌱 Allow ClusterCacheTracker to set CacheByObject
  controllers/remote/cluster_cache_tracker.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/util

#10952 🌱 test: fix machinepool test to wait for topology controller to set correct number of replicas first
  test/framework/machinepool_helpers.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#10953 🚀 Release v1.8.0-rc.0
  CHANGELOG/v1.8.0-rc.0.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/release

#10963 🌱 Update version matrix for github workflows
  .github/workflows/weekly-md-link-check.yaml
  .github/workflows/weekly-security-scan.yaml
  .github/workflows/weekly-test-release.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/ci

#10964 🌱 [release-1.8] Update base branch for link checker
  .github/workflows/pr-md-link-check.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/ci

#10960 📖 Add release 1.7 book link
  docs/book/src/introduction.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/release

#10965 ✨ Bump Kubernetes version used for testing to v1.31.0-rc.0
  test/e2e/config/docker.yaml
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#10971 :bug: test/framework isDockerCluster should check that infra ref is present
  test/framework/cluster_proxy.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/testing
