Repository kubernetes-sigs/cluster-api, pull requests merged in 2024-11, with the labels that each got.

#11345 🌱 Refactor Cluster controller
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/cluster/cluster_controller_phases_test.go
  internal/controllers/cluster/cluster_controller_test.go
  internal/controllers/machine/machine_controller_phases.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/provider/core

#11369 🐛 Fix panics in SetV1Beta2Conditions methods
  api/v1beta1/cluster_types.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/machine_types.go
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/machineset_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  exp/addons/api/v1beta1/clusterresourceset_types.go
  exp/api/v1beta1/machinepool_types.go
  test/infrastructure/docker/api/v1beta1/dockercluster_types.go
  test/infrastructure/docker/api/v1beta1/dockermachine_types.go
  test/infrastructure/inmemory/api/v1alpha1/inmemorycluster_types.go
  test/infrastructure/inmemory/api/v1alpha1/inmemorymachine_types.go
  util/test/builder/v1beta2_transition.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/api

#11363 📖 Minor changes to Improving status in CAPI resources
  docs/book/src/developer/providers/contracts/control-plane.md
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/documentation

#11366 :sparkles: ClusterClass: ensure templates are created in the Cluster namespace
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clusterclass

#11374 🌱 Fixing TestClusterCacheHealthCheck flake
  controllers/remote/cluster_cache_healthcheck_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/testing

#11353 ✨ Implement MachineDrainRules
  api/v1beta1/clusterclass_types.go
  api/v1beta1/machinedrainrules_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_machinedrainrules.yaml
  config/crd/kustomization.yaml
  config/crd/patches/webhook_in_machinedrainrules.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  docs/book/src/reference/api/labels-and-annotations.md
  internal/controllers/machine/drain/drain.go
  internal/controllers/machine/drain/drain_test.go
  internal/controllers/machine/drain/filters.go
  internal/controllers/machine/drain/filters_test.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_test.go
  internal/test/envtest/environment.go
  internal/webhooks/machinedrainrules.go
  internal/webhooks/test/machinedrainrules_test.go
  main.go
  test/infrastructure/inmemory/internal/controllers/inmemorycluster_controller.go
  webhooks/alias.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/machine

#11380 🐛 Fix panics in patch unit tests
  util/patch/patch_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/testing

#11371 🚀 Release v1.9.0-beta.0
  CHANGELOG/v1.9.0-beta.0.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/release

#11372 🚀 Release v1.7.8
  CHANGELOG/v1.7.8.md
Labels: size/S, cncf-cla: yes, lgtm, approved, area/release

#11373 🚀 Release v1.8.5
  CHANGELOG/v1.8.5.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#11384 📖 🐛 README.md: update ClusterAPI meeting agenda link
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/documentation

#11386 🌱 Add feature gate to consider VolumeAttachments when waiting for volume detach
  config/manager/manager.yaml
  docs/book/src/tasks/experimental-features/experimental-features.md
  feature/feature.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/machine

#11381 🌱 Implement KCP and MS Deleting conditions
  api/v1beta1/machineset_types.go
  controlplane/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/scale_test.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/cluster/cluster_controller_test.go
  internal/controllers/machineset/machineset_controller_status.go
  internal/controllers/machineset/machineset_controller_status_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/provider/control-plane-kubeadm, area/machineset

#11383 ✨ Add v1beta2 available condition to KCP
  controlplane/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  controlplane/kubeadm/internal/workload_cluster_conditions_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/provider/control-plane-kubeadm

#11382 🌱 Implement MS remediating conditions
  api/v1beta1/machineset_types.go
  controlplane/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/internal/controllers/status.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_status.go
  internal/controllers/machineset/machineset_controller_status_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/machineset_preflight.go
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/machineset

#11389 ✨ Add machine UpToDate condition to KCP
  api/v1beta1/machine_types.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/scale.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/provider/control-plane-kubeadm

#11394 🌱 Implement Cluster TopologyReconciled v1beta2 condition
  api/v1beta1/cluster_types.go
  api/v1beta1/condition_consts.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/conditions_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/clusterclass

#11396 🌱 Audit patch withOwnedConditions
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/provider/core

#11393 ✨ Add machine UpToDate condition to MachineSet
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machinedeployment/mdutil/util_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/machineset

#11398 🐛 Fix TestControlPlane/MachinesUpToDate flake
  controlplane/kubeadm/internal/control_plane_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/provider/control-plane-kubeadm

#11331 ✨ add typed watcher to ClusterCache
  controllers/clustercache/cluster_accessor.go
  controllers/clustercache/cluster_accessor_test.go
  controllers/clustercache/cluster_cache.go
  exp/internal/controllers/machinepool_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test, area/clustercachetracker

#11400 🌱 Remove paused handling from reconcileExternal
  controllers/external/types.go
  exp/internal/controllers/machinepool_controller_phases.go
  exp/internal/controllers/machinepool_controller_phases_test.go
  internal/controllers/clusterclass/clusterclass_controller.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/clusterclass, area/machinepool

#11409 🌱 Bump Go version to v1.22.9
  Makefile
  Tiltfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#11404 🌱 Refine v1beta2 condition messages
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/status_test.go
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  controlplane/kubeadm/internal/workload_cluster_conditions_test.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/cluster/cluster_controller_test.go
  internal/controllers/machine/drain/drain.go
  internal/controllers/machine/drain/drain_test.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_status_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_status.go
  internal/controllers/machineset/machineset_controller_status_test.go
  test/e2e/node_drain.go
  util/conditions/v1beta2/aggregate_test.go
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/merge_strategies_test.go
  util/conditions/v1beta2/mirror.go
  util/conditions/v1beta2/mirror_test.go
  util/conditions/v1beta2/summary.go
  util/conditions/v1beta2/summary_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/provider/core

#11414 🌱 [release-1.8] clusterctl: add nutanix ipam & runtime extensions providers
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/reference/glossary.md
  docs/book/src/reference/providers.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clusterctl

#11411 🌱 Refine v1beta2 condition reasons
  api/v1beta1/cluster_types.go
  api/v1beta1/machine_types.go
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/machineset_types.go
  api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/controllers/machinedeployment/machinedeployment_status_test.go
  internal/controllers/machineset/machineset_controller_status.go
  internal/controllers/machineset/machineset_controller_status_test.go
  util/conditions/v1beta2/aggregate.go
  util/conditions/v1beta2/aggregate_test.go
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/merge_strategies_test.go
  util/conditions/v1beta2/options.go
  util/conditions/v1beta2/summary.go
  util/conditions/v1beta2/summary_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/provider/core

#11417 🌱 Improve Cluster RemoteConnectionProbe condition
  api/v1beta1/cluster_types.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/cluster

#11418 🌱 Improve v1beta2 condition ordering
  util/conditions/v1beta2/sort.go
  util/conditions/v1beta2/sort_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/util

#11416 🐛 Disable aggregation of not reported MachinePool conditions for Cluster
  internal/controllers/cluster/cluster_controller_status.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/cluster

#11419 🌱 Refine v1beta2 mirror conditions
  api/v1beta1/cluster_types.go
  api/v1beta1/machine_types.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  util/conditions/v1beta2/mirror.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/provider/core

#11421 🌱 Refine order for v1beta2 summary util
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/summary_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/util

#11423 🌱 Refine v1beta2 aggregation order
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/merge_strategies_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/util

#11422 🌱 Various improvements of v1beta2 conditions
  api/v1beta1/cluster_types.go
  api/v1beta1/machine_types.go
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/machineset_types.go
  api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/remediation_test.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  controlplane/kubeadm/internal/workload_cluster_conditions_test.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/controllers/machinedeployment/machinedeployment_status_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_status.go
  internal/controllers/machineset/machineset_controller_status_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/conditions_test.go
  test/e2e/node_drain.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/conditions

#11424 🌱 Refine v1beta2 condition order
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  util/conditions/v1beta2/sort.go
  util/conditions/v1beta2/sort_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/util

#11426 🐛 Fix RuntimeClient nil check in Cluster controller
  internal/controllers/topology/cluster/cluster_controller.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/cluster

#11351 :bug: fix: considers objects in kube-system for cert-manager to avoid upgrading twice
  cmd/clusterctl/client/cluster/cert_manager.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, area/clusterctl

#11425 🌱 Refine v1beta2 Available condition in KCP
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/control-plane-kubeadm

#11429 🌱 Refine v1beta2 object sort for aggregation
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/merge_strategies_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/util

#11428 🌱 Add v1beta2 conditions to ClusterClass
  api/v1beta1/clusterclass_types.go
  api/v1beta1/condition_consts.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/clusterclass/clusterclass_controller_status.go
  internal/controllers/clusterclass/clusterclass_controller_status_test.go
  internal/controllers/clusterclass/clusterclass_controller_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/clusterclass

#11433 🌱 Ignore new Machines when calculating MachinesUpToDate condition
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/controllers/machinedeployment/machinedeployment_status_test.go
  internal/controllers/machineset/machineset_controller_status.go
  internal/controllers/machineset/machineset_controller_status_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/conditions

#11432 🌱 Refine v1beta2 ScalingUp conditions
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_status.go
  internal/controllers/machineset/machineset_controller_status_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/machineset_preflight.go
  internal/controllers/machineset/machineset_preflight_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/core

#11435 🌱 Fix messages of conditions used for summaries and aggregations
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/controllers/machinedeployment/machinedeployment_status_test.go
  internal/controllers/machineset/machineset_controller_status.go
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/conditions_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/conditions

#11436 🌱 Rate-limit entire reconcileDelete
  internal/controllers/machine/machine_controller.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/machine

#11437 🌱 Refine v1beta2 machine ready
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/options.go
  util/conditions/v1beta2/summary_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/machine

#11434 🌱 Refine v1beta2 stale deletion messages
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/controllers/machinedeployment/machinedeployment_status_test.go
  internal/controllers/machineset/machineset_controller_status.go
  internal/controllers/machineset/machineset_controller_status_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/conditions

#11438 🌱 Refine v1beta2 ControlPlaneHealthy condition
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  controlplane/kubeadm/internal/workload_cluster_conditions_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/provider/control-plane-kubeadm

#11444 🌱 Improve cluster deletion timeout message in e2e test framework
  test/framework/cluster_helpers.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#11445 🐛 Improve context handling in ClusterCache
  controllers/clustercache/cluster_accessor_client.go
  controllers/remote/cluster_cache_tracker.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clustercachetracker

#11441 🚀 Release v1.9.0-beta.1
  CHANGELOG/v1.9.0-beta.1.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/release

#11176 🌱 Update conditions.Set function to set LastTransitionTime only when status of condition changes
  util/conditions/setter.go
  util/conditions/setter_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/util

#11431 🐛 Align "random" deletion policy behavior regarding deletion annotations
  internal/controllers/machineset/machineset_delete_policy.go
  internal/controllers/machineset/machineset_delete_policy_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/machineset

#11446 🌱 KCP: handle members without name in MemberNames
  controlplane/kubeadm/internal/etcd/util/util.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/conditions

#11448 🌱 Add MD watch to the MS controller
  internal/controllers/machineset/machineset_controller.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/machineset

#11449 🌱 KCP: add test coverage for etcd member list util
  controlplane/kubeadm/internal/etcd/util/util_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/control-plane-kubeadm

#11450 🌱 Retry in case of etcd errors in KCP
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  controlplane/kubeadm/internal/workload_cluster_conditions_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/control-plane-kubeadm

#11451 🌱 Refine v1beta2 KCP available condition
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/provider/control-plane-kubeadm

#11453 🌱 Cache Pods for KCP
  controlplane/kubeadm/main.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/provider/control-plane-kubeadm

#11457 🌱 Improve Drain for control plane machines
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/machine

#11452 🌱 Add v1beta2 conditions to CABPK
  bootstrap/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/bootstrap-kubeadm

#11460 📖 Small improvements to the v1beta2 status proposal
  docs/book/src/developer/providers/contracts/control-plane.md
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/conditions

#11462 🌱Bump cert-manager to v1.16.2
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/getting-started.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clusterctl

#11463 🌱 Add v1beta2 RollingOut condition
  api/v1beta1/cluster_types.go
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/api/v1beta1/v1beta2_condition_consts.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/controllers/machinedeployment/machinedeployment_status_test.go
  util/conditions/v1beta2/sort.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/conditions

#11461 🌱 cluster: split MachinesReady and MachinesUpToDate into ControlPlane and Worker specific conditions
  api/v1beta1/cluster_types.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  util/conditions/v1beta2/sort.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/conditions

#11430 🌱 Improve CAPD load balancer
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/docker/internal/docker/loadbalancer.go
  test/infrastructure/docker/internal/docker/machine.go
  test/infrastructure/docker/internal/docker/manager.go
  test/infrastructure/docker/internal/docker/manager_test.go
  test/infrastructure/docker/internal/docker/util.go
  test/infrastructure/docker/internal/loadbalancer/config.go
  test/infrastructure/docker/internal/loadbalancer/config_test.go
  test/infrastructure/docker/internal/loadbalancer/const.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/infrastructure-docker

#11468 🌱 clusterctl: do not fail when running clusterctl with a build without GitVersion information
  cmd/clusterctl/cmd/version_checker.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clusterctl

#11467 🌱 crs: implement ResourcesApplied v1beta2 condition
  exp/addons/api/v1beta1/clusterresourceset_types.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/addons/internal/controllers/clusterresourceset_controller_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/conditions

#11277 ✨ Add support for v1beta2 conditions to clusterctl describe
  cmd/clusterctl/client/describe.go
  cmd/clusterctl/client/tree/annotations.go
  cmd/clusterctl/client/tree/discovery.go
  cmd/clusterctl/client/tree/node_object.go
  cmd/clusterctl/client/tree/tree.go
  cmd/clusterctl/client/tree/tree_test.go
  cmd/clusterctl/client/tree/util.go
  cmd/clusterctl/cmd/describe_cluster.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/clusterctl

#10108 📖 book: add ipam contract
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/contracts/ipam.md
  docs/book/src/developer/providers/contracts/overview.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/ipam, area/documentation

#11481 :seedling: [release-1.9] Update md link check for release-1.9
  .github/workflows/pr-md-link-check.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/release

#11482 🐛 kind: downgrade binary to v0.24.0 to fix building node images for <= v1.30
  hack/ensure-kind.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/ci

#11487 🌱 machine: sort list of hooks for stable condition messages
  internal/controllers/machine/machine_controller.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/conditions

#11490 🐛 machine: use correct APIVersion for KCP related exclude
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/machine

#11489 🌱 Drop unnecessary etcd call from KCP
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/fakes_test.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/control-plane-kubeadm

#11494 🌱 Refine v1beta2 NodeHealthy condition
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/machine

#11498 🌱 Refine v1beta2 summary
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/summary_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/conditions

#11501 🌱 Refine MachineDeployment v1beta2 available condition
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/controllers/machinedeployment/machinedeployment_status_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/machinedeployment

#11471 :bug: MHC: fix flaky test
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machinehealthcheck/suite_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/machinehealthcheck

#11503 🌱 Refine v1beta2 UpToDate and Rollout conditions
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/controllers/machinedeployment/machinedeployment_status_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/merge_strategies_test.go
  util/conditions/v1beta2/summary_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/conditions

#11508 🌱 clusterctl: properly indent multiline lists in clusterctl describe
  cmd/clusterctl/cmd/describe_cluster.go
  cmd/clusterctl/cmd/describe_cluster_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/clusterctl
