Repository kubernetes-sigs/cluster-api, pull requests merged in 2025-03, with the labels that each got.

#11889 ✨ Add CRD migrator, deprecate clusterctl upgrade CRD storage version migration
  Makefile
  api/v1beta1/common_types.go
  bootstrap/kubeadm/config/rbac/role.yaml
  bootstrap/kubeadm/main.go
  cmd/clusterctl/client/cluster/upgrader.go
  cmd/clusterctl/client/upgrade.go
  cmd/clusterctl/cmd/upgrade_apply.go
  config/rbac/role.yaml
  controllers/crdmigrator/crd_migrator.go
  controllers/crdmigrator/crd_migrator_test.go
  controllers/crdmigrator/suite_test.go
  controllers/crdmigrator/test/t1/crd/test.cluster.x-k8s.io_testclusters.yaml
  controllers/crdmigrator/test/t1/v1beta1/types.go
  controllers/crdmigrator/test/t1/v1beta1/zz_generated.deepcopy.go
  controllers/crdmigrator/test/t2/crd/test.cluster.x-k8s.io_testclusters.yaml
  controllers/crdmigrator/test/t2/v1beta1/types.go
  controllers/crdmigrator/test/t2/v1beta1/zz_generated.deepcopy.go
  controllers/crdmigrator/test/t2/v1beta2/types.go
  controllers/crdmigrator/test/t2/v1beta2/zz_generated.deepcopy.go
  controllers/crdmigrator/test/t3/crd/test.cluster.x-k8s.io_testclusters.yaml
  controllers/crdmigrator/test/t3/v1beta1/types.go
  controllers/crdmigrator/test/t3/v1beta1/zz_generated.deepcopy.go
  controllers/crdmigrator/test/t3/v1beta2/types.go
  controllers/crdmigrator/test/t3/v1beta2/zz_generated.deepcopy.go
  controllers/crdmigrator/test/t4/crd/test.cluster.x-k8s.io_testclusters.yaml
  controllers/crdmigrator/test/t4/v1beta2/types.go
  controllers/crdmigrator/test/t4/v1beta2/zz_generated.deepcopy.go
  controlplane/kubeadm/config/rbac/role.yaml
  controlplane/kubeadm/main.go
  docs/book/src/developer/providers/migrations/v1.9-to-v1.10.md
  docs/book/src/reference/api/labels-and-annotations.md
  internal/util/ssa/managedfields.go
  main.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/clusterctl_upgrade_test.go
  test/framework/crdmigration_helpers.go
  test/infrastructure/docker/config/rbac/role.yaml
  test/infrastructure/docker/exp/controllers/exp.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/devcluster_controller.go
  test/infrastructure/docker/internal/controllers/devmachine_controller.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/docker/main.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/util

#11906 🌱 enable maxlength linter
  .golangci-kal.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash, area/api

#11911 🌱 Enable nobools linter
  .golangci-kal.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/api

#11908 🌱 Enable requiredfields linter
  .golangci-kal.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-rebase, area/api

#11901 🌱 Add v1beta2 conditions to DevMachines with InMemory backend
  api/v1beta1/v1beta2_condition_consts.go
  test/infrastructure/docker/api/v1beta1/devmachine_types.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_backend.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_controller_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/provider/infrastructure-docker

#11520 🐛 Recreate bootstrap token if it was cleaned up
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/bootstrap

#11929 📖 Split 2024 and 2025 agenda docs
  docs/book/book.toml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/documentation

#11890 🌱 Enable jsontags lint of KAL
  .golangci-kal.yml
  hack/tools/.custom-gcl.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/misc

#11792 ✨Add support for clusterctl gitlab auth
  cmd/clusterctl/client/config/variables_client.go
  cmd/clusterctl/client/repository/client.go
  cmd/clusterctl/client/repository/repository_gitlab.go
  cmd/clusterctl/client/repository/repository_gitlab_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/clusterctl

#11923 🌱 Add v1beta2 conditions to DevMachine and DevCluster with Docker backend
  api/v1beta1/v1beta2_condition_consts.go
  test/infrastructure/docker/api/v1beta1/devcluster_types.go
  test/infrastructure/docker/api/v1beta1/devmachine_types.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockercluster_backend.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockermachine_backend.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/infrastructure-docker

#11931 :seedling: Add comments for metadata
  api/v1beta1/cluster_types.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/machine_types.go
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/machinedrainrules_types.go
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/machineset_types.go
  api/v1beta1/zz_generated.openapi.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfigtemplate_types.go
  cmd/clusterctl/api/v1alpha3/metadata_type.go
  cmd/clusterctl/api/v1alpha3/provider_type.go
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_types.go
  exp/addons/api/v1beta1/clusterresourceset_types.go
  exp/addons/api/v1beta1/clusterresourcesetbinding_types.go
  exp/api/v1beta1/machinepool_types.go
  exp/ipam/api/v1alpha1/ipaddress_types.go
  exp/ipam/api/v1alpha1/ipaddressclaim_types.go
  exp/ipam/api/v1beta1/ipaddress_types.go
  exp/ipam/api/v1beta1/ipaddressclaim_types.go
  exp/runtime/api/v1alpha1/extensionconfig_types.go
  internal/apis/bootstrap/kubeadm/v1alpha3/kubeadmconfig_types.go
  internal/apis/bootstrap/kubeadm/v1alpha3/kubeadmconfigtemplate_types.go
  internal/apis/bootstrap/kubeadm/v1alpha4/kubeadmconfig_types.go
  internal/apis/bootstrap/kubeadm/v1alpha4/kubeadmconfigtemplate_types.go
  internal/apis/controlplane/kubeadm/v1alpha3/kubeadm_control_plane_types.go
  internal/apis/controlplane/kubeadm/v1alpha4/kubeadm_control_plane_types.go
  internal/apis/controlplane/kubeadm/v1alpha4/kubeadmcontrolplanetemplate_types.go
  internal/apis/core/exp/addons/v1alpha3/clusterresourceset_types.go
  internal/apis/core/exp/addons/v1alpha3/clusterresourcesetbinding_types.go
  internal/apis/core/exp/addons/v1alpha4/clusterresourceset_types.go
  internal/apis/core/exp/addons/v1alpha4/clusterresourcesetbinding_types.go
  internal/apis/core/exp/v1alpha3/machinepool_types.go
  internal/apis/core/exp/v1alpha4/machinepool_types.go
  internal/apis/core/v1alpha3/cluster_types.go
  internal/apis/core/v1alpha3/machine_types.go
  internal/apis/core/v1alpha3/machinedeployment_types.go
  internal/apis/core/v1alpha3/machinehealthcheck_types.go
  internal/apis/core/v1alpha3/machineset_types.go
  internal/apis/core/v1alpha4/cluster_types.go
  internal/apis/core/v1alpha4/clusterclass_types.go
  internal/apis/core/v1alpha4/machine_types.go
  internal/apis/core/v1alpha4/machinedeployment_types.go
  internal/apis/core/v1alpha4/machinehealthcheck_types.go
  internal/apis/core/v1alpha4/machineset_types.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test, area/documentation

#11921 🌱 Set MachinePool feature gates in tests correctly with testutil
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  bootstrap/util/configowner_test.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  internal/controllers/cluster/cluster_controller_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/testing

#11922 ✨ topology: implement BeforeClusterUpgrade annotation hook
  api/v1beta1/common_types.go
  docs/book/src/reference/api/labels-and-annotations.md
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  internal/controllers/topology/cluster/conditions_test.go
  test/e2e/cluster_upgrade_runtimesdk.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/runtime-sdk

#11936 :seedling: Enable commentstart lint of KAL
  .golangci-kal.yml
  hack/tools/.custom-gcl.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/misc

#11914 📖 Cleanup and improve version support page
  CONTRIBUTING.md
  docs/book/src/reference/versions.md
  docs/proposals/20250124-From CAPD(docker) to CAPD(dev) .md
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/documentation

#11928 ✨ machineset: Extend ControlPlaneIsStable preflight check to check for a pending topology based ControlPlane version upgrade
  docs/book/src/tasks/experimental-features/machineset-preflight-checks.md
  internal/controllers/machineset/machineset_preflight.go
  internal/controllers/machineset/machineset_preflight_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/machineset

#11927 ✨ kcp: add preflight check for pending version upgrade from topology
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/remediation_test.go
  controlplane/kubeadm/internal/controllers/scale.go
  controlplane/kubeadm/internal/controllers/scale_test.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/scope/upgradetracker.go
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/conditions_test.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  util/predicates/cluster_predicates.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/provider/control-plane-kubeadm

#11905 🌱 Update dev observability stack to latest versions
  hack/observability/grafana/chart/kustomization.yaml
  hack/observability/kube-state-metrics/kustomization.yaml
  hack/observability/loki/kustomization.yaml
  hack/observability/prometheus/kustomization.yaml
  hack/observability/tempo/kustomization.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, ok-to-test, area/devtools

#11938 🌱 test: add cluster to logger to co-relate requests to clusters in tests
  test/extension/handlers/lifecycle/handlers.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/runtime-sdk

#11934 ⚠️ Add MaxItems markers to API fields
  .golangci-kal.yml
  api/v1beta1/cluster_types.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/machinehealthcheck_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  exp/addons/api/v1beta1/clusterresourceset_types.go
  exp/addons/api/v1beta1/clusterresourcesetbinding_types.go
  exp/api/v1beta1/machinepool_types.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/api

#11939 🌱 Consider IsProvisioning to determine if ControlPlane is stable
  cmd/clusterctl/client/cluster/assets/topology-test/existing-my-cluster.yaml
  exp/topology/scope/upgradetracker.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/clusterclass

#11940 🐛 ClusterClass: Don't allow concurrent patch upgrades
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/clusterclass

#11953 [release-1.9] 🐛 ensure kubeadm controller always sets all v1beta2 conditions
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  test/e2e/clusterctl_upgrade.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/bootstrap-kubeadm

#11909 🌱 Enable optionalorrequired linter
  .golangci-kal.yml
  api/v1beta1/cluster_types.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/common_types.go
  api/v1beta1/condition_types.go
  api/v1beta1/machine_types.go
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/machinedrainrules_types.go
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/machineset_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfigtemplate_types.go
  cmd/clusterctl/api/v1alpha3/metadata_type.go
  cmd/clusterctl/api/v1alpha3/provider_type.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_types.go
  exp/addons/api/v1beta1/clusterresourceset_types.go
  exp/addons/api/v1beta1/clusterresourcesetbinding_types.go
  exp/api/v1beta1/machinepool_types.go
  exp/ipam/api/v1alpha1/ipaddress_types.go
  exp/ipam/api/v1alpha1/ipaddressclaim_types.go
  exp/ipam/api/v1beta1/ipaddress_types.go
  exp/ipam/api/v1beta1/ipaddressclaim_types.go
  exp/runtime/api/v1alpha1/extensionconfig_types.go
  exp/runtime/hooks/api/v1alpha1/common_types.go
  exp/runtime/hooks/api/v1alpha1/discovery_types.go
  exp/runtime/hooks/api/v1alpha1/lifecyclehooks_types.go
  exp/runtime/hooks/api/v1alpha1/topologymutation_types.go
  exp/runtime/hooks/api/v1alpha1/topologymutation_variable_types.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/api

#11956 🌱 e2e: create ExtensionConfig including name in settings and create one…
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/scale.go
  test/extension/config/tilt/extensionconfig.yaml
  test/extension/handlers/lifecycle/handlers.go
  test/framework/namespace_helpers.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/e2e-testing

#11957 🌱 Log version directly on controller startup
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  test/extension/main.go
  test/infrastructure/docker/main.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/logging

#11958 🌱 Bump Kubernetes version used for testing to v1.33.0-beta.0
  test/e2e/config/docker.yaml
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#11949 ⚠️ Add MaxLength & MinLength markers
  .golangci-kal.yml
  api/v1beta1/cluster_types.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/common_types.go
  api/v1beta1/condition_types.go
  api/v1beta1/machine_types.go
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/machineset_types.go
  api/v1beta1/zz_generated.openapi.go
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddresses.yaml
  config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  exp/addons/api/v1beta1/clusterresourceset_types.go
  exp/addons/api/v1beta1/clusterresourcesetbinding_types.go
  exp/api/v1beta1/machinepool_types.go
  exp/ipam/api/v1alpha1/ipaddress_types.go
  exp/ipam/api/v1beta1/ipaddress_types.go
  exp/ipam/api/v1beta1/ipaddressclaim_types.go
  exp/runtime/api/v1alpha1/extensionconfig_types.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devmachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  util/patch/patch_test.go
  util/test/builder/crd/test.cluster.x-k8s.io_phase0obj.yaml
  util/test/builder/crd/test.cluster.x-k8s.io_phase1obj.yaml
  util/test/builder/crd/test.cluster.x-k8s.io_phase2obj.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/api

#11271 ✨ Add bootCommands to cloud-init file generation
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/internal/cloudinit/boot_commands.go
  bootstrap/kubeadm/internal/cloudinit/cloudinit.go
  bootstrap/kubeadm/internal/cloudinit/cloudinit_test.go
  bootstrap/kubeadm/internal/cloudinit/controlplane_init.go
  bootstrap/kubeadm/internal/cloudinit/controlplane_join.go
  bootstrap/kubeadm/internal/cloudinit/node.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/ignition/clc/clc_test.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfig_test.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/filters_test.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane_test.go
  docs/book/src/tasks/bootstrap/kubeadm-bootstrap/index.md
  internal/apis/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha3/zz_generated.conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha4/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha4/zz_generated.conversion.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test, area/provider/bootstrap-kubeadm

#11968 🌱 Cleanup after CRS move
  .golangci-kal.yml
  .golangci.yml
  Makefile
  api/addons/v1beta1/clusterresourceset_types.go
  api/addons/v1beta1/clusterresourcesetbinding_types.go
  controllers/alias.go
  internal/controllers/clusterresourceset/clusterresourceset_controller.go
  internal/controllers/clusterresourceset/clusterresourceset_helpers.go
  internal/controllers/clusterresourceset/clusterresourceset_helpers_test.go
  internal/controllers/clusterresourceset/doc.go
  internal/controllers/clusterresourceset/suite_test.go
  internal/controllers/clusterresourcesetbinding/clusterresourcesetbinding_controller.go
  internal/controllers/clusterresourcesetbinding/doc.go
  main.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clusterresourceset

#11969 🌱 cluster: validate that infrastructureRef and controlPlaneRef cannot be unset
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/cluster

#11971 🌱 Add v1beta2 conditions to IPAddressClaim
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  exp/ipam/api/v1alpha1/conversion.go
  exp/ipam/api/v1alpha1/zz_generated.conversion.go
  exp/ipam/api/v1beta1/ipaddressclaim_types.go
  exp/ipam/api/v1beta1/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/ipam

#11966 🌱 Add clusterctl describe to E2E artifacts
  cmd/clusterctl/cmd/describe_cluster.go
  internal/util/tree/doc.go
  internal/util/tree/tree.go
  internal/util/tree/tree_test.go
  test/e2e/autoscaler.go
  test/e2e/cluster_deletion.go
  test/e2e/cluster_upgrade.go
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/clusterclass_changes.go
  test/e2e/clusterclass_rollout.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/k8s_conformance.go
  test/e2e/kcp_adoption.go
  test/e2e/kcp_remediations.go
  test/e2e/machine_pool.go
  test/e2e/md_remediations.go
  test/e2e/md_rollout.go
  test/e2e/md_scale.go
  test/e2e/node_drain.go
  test/e2e/quick_start.go
  test/e2e/scale.go
  test/e2e/self_hosted.go
  test/framework/alltypes_helpers.go
  test/framework/cluster_helpers.go
  test/framework/spec_helpers.go
  test/go.mod
  test/go.sum
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/e2e-testing

#11952 :bug: Modify calling agg cluster conditions
  internal/controllers/cluster/cluster_controller_status.go
  util/conditions/v1beta2/aggregate_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/cluster

#11972 🐛 Avoid redundant reconciles if only generation of Paused condition changed
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  controlplane/kubeadm/internal/controllers/controller.go
  exp/internal/controllers/machinepool_controller.go
  exp/runtime/internal/controllers/extensionconfig_controller.go
  exp/runtime/internal/controllers/extensionconfig_controller_test.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/clusterresourceset/clusterresourceset_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockercluster_backend.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockermachine_backend.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorycluster_backend.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_backend.go
  test/infrastructure/docker/internal/controllers/devcluster_controller.go
  test/infrastructure/docker/internal/controllers/devmachine_controller.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  util/conditions/v1beta2/patch.go
  util/paused/paused.go
  util/paused/paused_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/conditions

#11975 [release-1.8] 🌱 Ignore CVE 2025 22870
  .trivyignore
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/security

#11976 [release-1.9] 🌱 Ignore CVE 2025 22870
  .trivyignore
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/security

#11813 ✨ Sync machine annotations to nodes
  api/v1beta1/common_types.go
  api/v1beta1/machine_types.go
  controllers/alias.go
  docs/book/src/reference/api/labels-and-annotations.md
  docs/book/src/reference/api/metadata-propagation.md
  docs/proposals/20220927-labels-and-annotations-sync-between-machine-and-nodes.md
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/suite_test.go
  main.go
  test/e2e/clusterclass_rollout.go
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-topology.yaml
  util/annotations/helpers.go
  util/annotations/helpers_test.go
  util/labels/helpers.go
  util/labels/helpers_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/machine

#11977 :seedling: Disable TLS verification for Podman pushes inside of Tilt
  Tiltfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/devtools

#11981 🌱 Bump go to v1.23.7
  Makefile
  Tiltfile
  docs/release/role-handbooks/release-lead/README.md
  netlify.toml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/dependency

#11979 🐛 Use release branch for v1.10 alpha and beta releases
  .github/workflows/release.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/release

#11983 🌱 e2e: write clusterctl describe to ginkgowriter on failure
  test/framework/cluster_helpers.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/e2e-testing

#11987 🚀 Release v1.8.11
  CHANGELOG/v1.8.11.md
Labels: size/S, cncf-cla: yes, lgtm, approved, area/release

#11988 🚀 Release v1.9.6
  CHANGELOG/v1.9.6.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#11990 🌱 Set merge operation
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/machine/machine_controller_status.go
  util/conditions/v1beta2/aggregate.go
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/summary.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/conditions

#11986 🌱 e2e: ensure to always preload kindnetd to not hit ImagePullBackoff
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
  test/e2e/data/cni/kindnet/kindnet.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v0.3/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v0.3/bases/md.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.5/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.6/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.7/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.8/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.9/clusterclass-quick-start.yaml
  test/e2e/self_hosted.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/e2e-testing

#11989 🚀 Release v1.10.0-beta.0
  CHANGELOG/v1.10.0-beta.0.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/release

#11994 :seedling: set base branch for release-1.10 markdown link checks
  .github/workflows/pr-md-link-check.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/ci

#11995 [release-1.9] 🌱 e2e: ensure to always preload kindnetd to not hit ImagePullBackoff
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
  test/e2e/data/cni/kindnet/kindnet.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v0.3/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v0.3/bases/md.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.5/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.6/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.7/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.8/clusterclass-quick-start.yaml
  test/e2e/self_hosted.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/e2e-testing

#11996 [release-1.8] 🌱 e2e: ensure to always preload kindnetd to not hit ImagePullBackoff
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
  test/e2e/data/cni/kindnet/kindnet.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v0.3/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v0.3/bases/md.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.5/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.6/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.7/clusterclass-quick-start.yaml
  test/e2e/self_hosted.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/e2e-testing

#11997 [release-1.7] 🌱 e2e: ensure to always preload kindnetd to not hit ImagePullBackoff
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
  test/e2e/data/cni/kindnet/kindnet.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v0.3/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v0.3/bases/md.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.5/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.6/clusterclass-quick-start.yaml
  test/e2e/self_hosted.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/e2e-testing

#11998 📖 Update metadata propagation images
  docs/book/src/images/metadata-propagation.jpg
  docs/book/src/images/metadata-propagation.pptx
  docs/proposals/20221003-In-place-propagation-of-Kubernetes-objects-only-changes.md
  docs/proposals/images/in-place-propagation/Metadata propagation.pptx
  docs/proposals/images/in-place-propagation/current-state.jpg
  docs/proposals/images/in-place-propagation/current-state.png
  docs/proposals/images/in-place-propagation/optional-changes.jpg
  docs/proposals/images/in-place-propagation/optional-changes.png
  docs/proposals/images/in-place-propagation/proposed-changes.jpg
  docs/proposals/images/in-place-propagation/proposed-changes.png
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/documentation

#12000 🌱 Prepare main for v1.11 development
  Makefile
  cmd/clusterctl/hack/create-local-repository.py
  hack/tools/internal/tilt-prepare/main.go
  metadata.yaml
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/common.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/v1.10/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.10/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/v1.10/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v1.10/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.10/cluster-template-topology/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.10/cluster-template/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.10/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.7/bases/mp.yaml
  test/e2e/data/shared/main/metadata.yaml
  test/e2e/data/shared/v1.10/metadata.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/release

#12004 📖 Document SSA known issue
  docs/book/src/user/troubleshooting.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/documentation

#11697 :seedling: Add KubeVirt support to Tilt dev workflow
  Makefile
  docs/book/src/developer/core/tilt.md
  hack/kind-install-for-capd.sh
  hack/kind-install-for-capk.sh
  hack/kind-install.sh
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/devtools

#12013 🐛 Fix CAPD in-memory templates
  test/infrastructure/docker/templates/cluster-template-in-memory.yaml
  test/infrastructure/docker/templates/clusterclass-in-memory.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/provider/infrastructure-in-memory

#12014 :sparkles: Extend Cluster builtin to include metadata
  docs/book/src/tasks/experimental-features/cluster-class/write-clusterclass.md
  exp/runtime/hooks/api/v1alpha1/topologymutation_variable_types.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.deepcopy.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
  internal/controllers/topology/cluster/patches/engine_test.go
  internal/controllers/topology/cluster/patches/variables/variables.go
  internal/controllers/topology/cluster/patches/variables/variables_test.go
  internal/webhooks/patch_validation.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/runtime-sdk, area/clusterclass

#12012 🐛 Stop overwriting ExtraPortMappings if WithDockerSockMount option is used
  test/framework/bootstrap/kind_provider.go
Labels: size/S, cncf-cla: yes, lgtm, approved, ok-to-test, area/e2e-testing

#12019 🐛 Make KubeadmConfig FileSystem.Label optional
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/provider/bootstrap-kubeadm

#12017 🌱 Enforce skip upgrade policy in clusterctl
  cmd/clusterctl/client/cluster/upgrader.go
  cmd/clusterctl/client/cluster/upgrader_test.go
  docs/book/src/clusterctl/commands/upgrade.md
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/clusterctl

#12030 🚀 Release v1.10.0-beta.1
  CHANGELOG/v1.10.0-beta.1.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/release

#11980 [release-1.9] ✨ Sync machine annotations to nodes
  api/v1beta1/common_types.go
  api/v1beta1/machine_types.go
  controllers/alias.go
  docs/book/src/reference/api/labels-and-annotations.md
  docs/book/src/reference/api/metadata-propagation.md
  docs/proposals/20220927-labels-and-annotations-sync-between-machine-and-nodes.md
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/suite_test.go
  main.go
  test/e2e/clusterclass_rollout.go
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-topology.yaml
  util/annotations/helpers.go
  util/annotations/helpers_test.go
  util/labels/helpers.go
  util/labels/helpers_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/machine

#12032 🌱 Move contract version & GetCompatibleVersions to contract package
  cmd/clusterctl/client/client.go
  cmd/clusterctl/client/cluster/client.go
  internal/contract/version.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/util

#12038 ✨ Implement v1beta2 contract in Machine controller
  controlplane/kubeadm/internal/controllers/helpers.go
  exp/internal/controllers/machinepool_controller_phases.go
  internal/contract/bootstrap.go
  internal/contract/infrastructure_machine.go
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machine/machine_controller_phases_test.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machineset/machineset_controller.go
  util/conversion/conversion.go
  util/conversion/conversion_test.go
  util/test/builder/crds.go
  util/util.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/machine

#12034 :seedling: Use github.base_ref in markdown-link-check
  .github/workflows/pr-md-link-check.yaml
  docs/release/role-handbooks/ci-signal/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup, area/release

#12039 [release-1.10] 🌱 Use github.base_ref in markdown-link-check
  .github/workflows/pr-md-link-check.yaml
  docs/release/role-handbooks/ci-signal/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/release

#12006 :seedling: metrics: use v1beta2 for condition metrics and add metrics for dockercluster devcluster dockermachine devmachine extensionconfig ipaddressclaim and crs
  Makefile
  config/metrics/crd-clusterrole.yaml
  config/metrics/crd-metrics-config.yaml
  hack/observability/grafana/dashboards/cluster-api-performance.json
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/devtools

#12042 🌱 Stop registering API types in the runtime extension scheme
  test/extension/main.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/runtime-sdk
