Repository kubernetes-sigs/cluster-api, pull requests merged in 2025-02, with the labels that each got.

#11774 📖 Move v1beta2 tentative date from Apr 2025 to Aug 2025
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/documentation

#11780 :seedling: Add optional ClusterctlVariables to QuickStartSpecInput
  test/e2e/quick_start.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/e2e-testing

#11783 🌱 remove dependency to envsubst binary
  Makefile
  Tiltfile
  hack/tools/go.mod
  hack/tools/internal/tilt-prepare/main.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/devtools

#11784 🌱 CI: default building kind node-images depending on KIND_BUILD_IMAGES env variable instead of ginkgo magic regexes
  scripts/ci-e2e-lib.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, area/ci

#11790 🌱 Use std API instead of exp API
  go.mod
  internal/controllers/machine/drain/drain.go
  internal/controllers/topology/cluster/current_state_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/misc

#11395 ✨ Add e2e tests & clusterctl changes for cross-ns CC ref
  cmd/clusterctl/client/clusterclass.go
  cmd/clusterctl/client/clusterclass_test.go
  cmd/clusterctl/client/config.go
  cmd/clusterctl/client/repository/template.go
  docs/book/src/developer/providers/contracts/clusterctl.md
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/clusterclass_changes.go
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-upgrades-runtimesdk/cluster-runtimesdk.yaml
  test/e2e/quick_start.go
  test/extension/handlers/topologymutation/testdata/clusterclass-quick-start-runtimesdk.yaml
  test/framework/ownerreference_helpers.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clusterclass

#11763 🌱 Adopt e2e labels usage
  Makefile
  docs/book/src/developer/core/testing.md
  test/infrastructure/inmemory/README.md
Labels: size/S, cncf-cla: yes, lgtm, approved, tide/merge-method-squash, area/e2e-testing

#11794 [release-1.8] 🌱 Attempt older version upgrades twice to work around flake with the docker controller
  test/e2e/clusterctl_upgrade_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/e2e-testing

#11795 🌱 Drop MemberUpdate from etcd client in KCP
  controlplane/kubeadm/internal/etcd/etcd.go
  controlplane/kubeadm/internal/etcd/etcd_test.go
  controlplane/kubeadm/internal/etcd/fake/client.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/provider/control-plane-kubeadm

#11786 📖 Update v1.10 release cycle schedule
  docs/release/releases/release-1.10.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/release

#11797 🌱 Drop retry when ready KCP conditions
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  controlplane/kubeadm/internal/workload_cluster_conditions_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/provider/control-plane-kubeadm

#11768 🌱 Sync Cache configuration in tests
  bootstrap/kubeadm/internal/controllers/suite_test.go
  controllers/clustercache/suite_test.go
  controllers/remote/suite_test.go
  controlplane/kubeadm/internal/suite_test.go
  exp/internal/controllers/suite_test.go
  exp/runtime/internal/controllers/suite_test.go
  internal/controllers/cluster/suite_test.go
  internal/controllers/clusterclass/suite_test.go
  internal/controllers/machine/suite_test.go
  internal/controllers/machinedeployment/suite_test.go
  internal/controllers/machinehealthcheck/suite_test.go
  internal/controllers/machineset/suite_test.go
  internal/controllers/topology/cluster/structuredmerge/suite_test.go
  internal/controllers/topology/cluster/suite_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, ok-to-test, area/runtime-sdk

#11796 🌱 Read etcd alarm list once per reconcile in KCP
  controlplane/kubeadm/internal/etcd/etcd.go
  controlplane/kubeadm/internal/workload_cluster_conditions.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/provider/control-plane-kubeadm

#11791 🌱 e2e: drop v1.24 skip for runtime sdk test
  test/e2e/cluster_upgrade_runtimesdk_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/e2e-testing

#11799 🌱 Align release 1.10 job creation with the new code freeze
  docs/release/releases/release-1.10.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/release

#11798 🌱 e2e/scale: make coredns and etcd upgrade variables optional
  test/e2e/cluster_upgrade.go
  test/e2e/scale.go
  test/e2e/self_hosted.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#11803 🌱 Bump go to v1.23.6
  Makefile
  Tiltfile
  netlify.toml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#11804 [release-1.9] 🌱 Bump go to v1.22.12
  Makefile
  Tiltfile
  netlify.toml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#11805 [release-1.8] 🌱 Bump go to v1.22.12
  Makefile
  Tiltfile
  netlify.toml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#11800 🌱 test/e2e: order ginkgo flags, add --fail-on-pending --fail-on-empty, increase timeout to 3h
  Makefile
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#11807 :seedling: Add missing comments with serialized prefix
  api/v1beta1/cluster_types.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/machineset_types.go
  api/v1beta1/zz_generated.openapi.go
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfigtemplate_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_types.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  internal/apis/bootstrap/kubeadm/v1alpha3/kubeadmconfigtemplate_types.go
  internal/apis/bootstrap/kubeadm/v1alpha4/kubeadmconfigtemplate_types.go
  internal/apis/controlplane/kubeadm/v1alpha4/kubeadmcontrolplanetemplate_types.go
  internal/apis/core/v1alpha3/cluster_types.go
  internal/apis/core/v1alpha3/machinehealthcheck_types.go
  internal/apis/core/v1alpha3/machineset_types.go
  internal/apis/core/v1alpha4/cluster_types.go
  internal/apis/core/v1alpha4/machinehealthcheck_types.go
  internal/apis/core/v1alpha4/machineset_types.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test, area/documentation

#11810 📖 docs: document test framework variable function renaming
  docs/book/src/developer/providers/migrations/v1.9-to-v1.10.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/documentation

#11817 📖 docs: document change for clustercache affecting tests
  docs/book/src/developer/providers/migrations/v1.9-to-v1.10.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/documentation

#11814 :bug: fix: send delete request before removing finalizers
  cmd/clusterctl/client/cluster/mover.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clusterctl

#11705 :seedling:Use context.WithTimeoutCause and context.WithCancelCause for better readability
  cmd/clusterctl/client/repository/repository_gitlab.go
  controllers/clustercache/cluster_accessor_client.go
  controllers/remote/cluster_cache_healthcheck_test.go
  controllers/remote/cluster_cache_tracker.go
  controllers/remote/stoppable_cache.go
  controlplane/kubeadm/internal/etcd/etcd.go
  exp/runtime/internal/controllers/warmup.go
  hack/tools/internal/log-push/main.go
  hack/tools/internal/tilt-prepare/main.go
  internal/controllers/machine/drain/drain.go
  internal/runtime/client/client.go
  internal/test/envtest/environment.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/misc

#11815 🌱 Call etcd member list and alarms once in KCP's updateManagedEtcdConditions
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  controlplane/kubeadm/internal/etcd/etcd.go
  controlplane/kubeadm/internal/etcd_client_generator.go
  controlplane/kubeadm/internal/etcd_client_generator_test.go
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  controlplane/kubeadm/internal/workload_cluster_conditions_test.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/provider/control-plane-kubeadm

#11823 🌱 Improve waiting for CP / InfraCluster deletion logs
  internal/controllers/cluster/cluster_controller.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/cluster

#11830 🌱 Remove OCNE providers
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/developer/providers/contracts/clusterctl.md
  docs/book/src/reference/glossary.md
  docs/book/src/reference/providers.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/clusterctl

#11832 🌱 Rename v1beta2 test types
  util/conditions/v1beta2/getter_test.go
  util/conditions/v1beta2/setter_test.go
  util/patch/patch_test.go
  util/patch/utils_test.go
  util/test/builder/crd/test.cluster.x-k8s.io_phase1obj.yaml
  util/test/builder/crd/test.cluster.x-k8s.io_phase2obj.yaml
  util/test/builder/v1beta2_transition.go
  util/test/builder/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/conditions

#11733 🌱 Add KAL linter for linting API conventions
  .github/workflows/pr-golangci-lint.yaml
  .golangci-kal.yml
  .golangci.yml
  Makefile
  hack/tools/.custom-gcl.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/api

#11836 🌱 scripts: fix checking out k/k release branch
  scripts/ci-e2e-lib.sh
Labels: size/S, cncf-cla: yes, lgtm, approved, area/ci

#11649 ✨ clusterctl move support for a cross namespace ClusterClass reference
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/cluster/objectgraph.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
  cmd/clusterctl/client/cluster/ownergraph.go
  cmd/clusterctl/internal/test/fake_objects.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/clusterclass

#11842 [release-1.8] :bug: should only test a max of k8s 1.31
  test/e2e/config/docker.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/ci

#11838 🌱 e2e: ensure node-drain with real volume detachments can get deleted without race conditions
  test/e2e/node_drain.go
  test/framework/deployment_helpers.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/e2e-testing

#11851 [release-1.9] 🌱 Bump to controller-runtime v0.19.6
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Labels: size/S, cncf-cla: yes, lgtm, approved, area/dependency

#11850 🌱 Bump to controller-runtime v0.20.2
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Labels: size/S, cncf-cla: yes, lgtm, approved, area/dependency

#11847 🌱 Enable the conditions rule from KAL
  .golangci-kal.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/ci

#11789 🌱 Add clustercache metrics
  controllers/clustercache/cluster_accessor.go
  controllers/clustercache/metrics.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, area/clustercache

#11848 🌱 Add v1beta2 conditions to ExtensionConfig
  config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  exp/runtime/api/v1alpha1/extensionconfig_types.go
  exp/runtime/api/v1alpha1/zz_generated.deepcopy.go
  exp/runtime/internal/controllers/extensionconfig_controller.go
  exp/runtime/internal/controllers/extensionconfig_controller_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/runtime-sdk

#11852 🌱 Move MDR unique validations to CEL
  api/v1beta1/machinedrainrules_types.go
  config/crd/bases/cluster.x-k8s.io_machinedrainrules.yaml
  internal/webhooks/machinedrainrules.go
  internal/webhooks/test/machinedrainrules_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/machine

#11863 🚀 Release v1.8.10
  CHANGELOG/v1.8.10.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#11864 🚀 Release v1.9.5
  CHANGELOG/v1.9.5.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#11869 🌱 Bump conversion-gen to v0.32.2
  Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#11861 🌱 clusterctl: Add support infrastructure provider for Huawei Cloud
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/developer/providers/contracts/clusterctl.md
  docs/book/src/reference/glossary.md
  docs/book/src/reference/providers.md
  docs/book/src/user/quick-start.md
Labels: cncf-cla: yes, lgtm, kind/feature, size/M, approved, area/clusterctl

#11872 :seedling: Change k0smotron repo location
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/reference/providers.md
  docs/book/src/user/quick-start.md
Labels: size/S, cncf-cla: yes, lgtm, approved, ok-to-test, area/clusterctl

#11867 🌱 Bump kustomize to v5.6.0
  Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#11871 🌱 tilt: use unique names for local_resources and buttons
  Tiltfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/devtools

#11875 :book: Update Vultr quick-start docs
  docs/book/src/user/quick-start.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/documentation

#11874 🐛 Fix MDR unit test
  internal/webhooks/test/machinedrainrules_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/testing

#11878 📖 Update CI release docs
  docs/release/role-handbooks/ci-signal/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/release

#11835 ✨ Add OpenNebula infrastructure provider to clusterctl
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/developer/providers/contracts/clusterctl.md
  docs/book/src/reference/providers.md
  docs/book/src/user/quick-start.md
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/clusterctl

#11865 🌱Use inCluster kubeconfig if empty var provided
  test/framework/cluster_proxy.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/testing

#11888 [release-1.9] 🌱 Change k0smotron repo location
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/reference/providers.md
  docs/book/src/user/quick-start.md
Labels: size/S, cncf-cla: yes, lgtm, approved, ok-to-test, area/clusterctl

#11884 ✨ Test n-3 clusterctl upgrade
  Makefile
  docs/book/src/clusterctl/commands/upgrade.md
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/v1.7/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.7/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/v1.7/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v1.7/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.7/bases/mp.yaml
  test/e2e/data/infrastructure-docker/v1.7/cluster-template-topology/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.7/cluster-template/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.7/clusterclass-quick-start.yaml
  test/e2e/data/shared/v1.7/metadata.yaml
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/e2e-testing

#11883 📖 Clarify when we would cut an emergency patch
  CONTRIBUTING.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/documentation

#11407 :book: :sparkles: :people_holding_hands: add proposal for Node Bootstrapping working group
  docs/community/20241112-node-bootstrapping.md
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test, area/community-meeting

#11891 🌱 Bump sigs.k8s.io/kind to v0.27.0
  hack/ensure-kind.sh
  test/framework/bootstrap/kind_provider.go
  test/go.mod
  test/go.sum
  test/infrastructure/kind/mapper.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, area/dependency

#11887 🌱 Enable integers lint of KAL
  .golangci-kal.yml
  cmd/clusterctl/api/v1alpha3/metadata_type.go
  cmd/clusterctl/client/cluster/upgrader_info.go
  cmd/clusterctl/client/repository/repository_github_test.go
  cmd/clusterctl/client/repository/repository_versions.go
  cmd/clusterctl/config/crd/bases/clusterctl.cluster.x-k8s.io_metadata.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/api-change, tide/merge-method-squash, area/api

#11904 🌱 CAPD: disable image garbage collection in kubelet to align with kind
  test/infrastructure/docker/internal/provisioning/cloudinit/writefiles.go
  test/infrastructure/docker/internal/provisioning/cloudinit/writefiles_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/provider/infrastructure-docker

#11907 🌱 Enable statussubresource linter
  .golangci-kal.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/api

#11910 🌱 Enable nofloats linter
  .golangci-kal.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/api

#11868 ✨ Add Availability and ReadinessGates to ClusterClass
  api/v1beta1/cluster_types.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
  docs/book/src/developer/providers/contracts/control-plane.md
  docs/book/src/developer/providers/migrations/v1.9-to-v1.10.md
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  internal/apis/controlplane/kubeadm/v1alpha3/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha4/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha4/zz_generated.conversion.go
  internal/apis/core/v1alpha4/conversion.go
  internal/apis/core/v1alpha4/zz_generated.conversion.go
  internal/contract/controlplane.go
  internal/contract/controlplane_test.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/topology/cluster/patches/engine.go
  util/test/builder/builders.go
  util/test/builder/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/clusterclass
