Repository kubernetes-sigs/cluster-api, pull requests merged in 2025-10, with the labels that each got.

#12804 🌱 Add rollout planner
  internal/controllers/machinedeployment/machinedeployment_rolling.go
  internal/controllers/machinedeployment/machinedeployment_rolling_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete.go
  internal/controllers/machinedeployment/machinedeployment_rollout_sequence_test.go
  internal/controllers/machinedeployment/testdata/.gitignore
  internal/controllers/machinedeployment/testdata/regular rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6.test.log.golden
  internal/controllers/machinedeployment/testdata/regular rollout, 3 replicas, maxsurge 0, maxunavailable 1.test.log.golden
  internal/controllers/machinedeployment/testdata/regular rollout, 3 replicas, maxsurge 1, maxunavailable 0.test.log.golden
  internal/controllers/machinedeployment/testdata/regular rollout, 6 replicas, maxsurge 0, maxunavailable 10.test.log.golden
  internal/controllers/machinedeployment/testdata/regular rollout, 6 replicas, maxsurge 1, maxunavailable 3.test.log.golden
  internal/controllers/machinedeployment/testdata/regular rollout, 6 replicas, maxsurge 10, maxunavailable 0.test.log.golden
  internal/controllers/machinedeployment/testdata/regular rollout, 6 replicas, maxsurge 3, maxunavailable 1, change spec.test.log.golden
  internal/controllers/machinedeployment/testdata/regular rollout, 6 replicas, maxsurge 3, maxunavailable 1, scale up to 12.test.log.golden
  internal/controllers/machinedeployment/testdata/regular rollout, 6 replicas, maxsurge 3, maxunavailable 1.test.log.golden
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/machinedeployment

#12813 🌱 Simplify KCP matchesKubeadmConfig
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/provider/control-plane-kubeadm

#12811 🌱 Refactor MachineTemplateUpToDate
  internal/controllers/machinedeployment/machinedeployment_rollout_sequence_test.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machinedeployment/mdutil/util_test.go
  internal/controllers/machineset/machineset_controller.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/machinedeployment

#12803 ✨ ClusterCache: Add GetUncachedClient()
  controllers/clustercache/cluster_accessor.go
  controllers/clustercache/cluster_accessor_client.go
  controllers/clustercache/cluster_accessor_test.go
  controllers/clustercache/cluster_cache.go
  controllers/clustercache/cluster_cache_fake.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/clustercache

#12818 :seedling: Fix TestReconcileMachinePhases flake
  internal/controllers/machine/machine_controller_status_test.go
  internal/test/envtest/environment.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/machine

#12819 :seedling: TestReconcileMachinePhases: use apireader to directly talk to apiserver
  internal/controllers/machine/machine_controller_status_test.go
  internal/test/envtest/environment.go
Labels: size/S, cncf-cla: yes, lgtm, approved, tide/merge-method-squash, ok-to-test, area/machine

#12824 🚀 Release v1.11.2
  CHANGELOG/v1.11.2.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release
