Repository kubernetes-sigs/cluster-api, pull requests merged in 2025-07, with the labels that each got.

#12415 🌱 Improve error message if rebase fails because target ClusterClass is not reconciled
  internal/webhooks/cluster.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/cluster

#12423 ✨ Reintroduce KCP/CABPK ClusterConfiguration controlPlaneEndpoint
  api/bootstrap/kubeadm/v1beta1/conversion_test.go
  api/bootstrap/kubeadm/v1beta1/zz_generated.conversion.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/controlplane/kubeadm/v1beta1/conversion_test.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  bootstrap/kubeadm/types/upstream/upstream.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  bootstrap/kubeadm/types/utils_test.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/filters_test.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane_test.go
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
  internal/api/bootstrap/kubeadm/v1alpha3/conversion_test.go
  internal/api/bootstrap/kubeadm/v1alpha3/zz_generated.conversion.go
  internal/api/bootstrap/kubeadm/v1alpha4/conversion_test.go
  internal/api/bootstrap/kubeadm/v1alpha4/zz_generated.conversion.go
  internal/api/controlplane/kubeadm/v1alpha3/conversion_test.go
  internal/api/controlplane/kubeadm/v1alpha4/conversion_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/control-plane-kubeadm, area/provider/bootstrap-kubeadm

#12386 🌱 Fix flaky test in extensionconfig_controller_test.go
  exp/runtime/internal/controllers/extensionconfig_controller_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash, area/testing, area/ci

#12437 🐛 Fix rendering of .Append = false in CABPK
  bootstrap/kubeadm/internal/cloudinit/files.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/provider/bootstrap-kubeadm

#12438 ⚠️ Stop using v1beta1 status in CAPD controllers
  test/infrastructure/docker/internal/controllers/backends/docker/dockercluster_backend.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockermachine_backend.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_backend.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_controller_test.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/infrastructure-docker

#12444 🌱 Make infrastructure and controlPlane required in ClusterClass
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/clusterclass

#12447 🌱 Add validation to ensure ClusterName fields are equal in MD/MS/MP
  exp/internal/webhooks/machinepool.go
  exp/internal/webhooks/machinepool_test.go
  internal/webhooks/machinedeployment.go
  internal/webhooks/machinedeployment_test.go
  internal/webhooks/machineset.go
  internal/webhooks/machineset_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/machinepool, area/machineset, area/machinedeployment

#12450 ⚠️ Keep using v1beta1 condition in CAPD Docker backend
  test/infrastructure/docker/internal/controllers/backends/docker/dockermachine_backend.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/provider/infrastructure-docker

#12380 :seedling: Add validation for PREVIOUS_RELEASE_TAG in release-notes-tool
  hack/tools/release/internal/update_providers/provider_issues.go
  hack/tools/release/internal/update_providers/provider_issues_test.go
  hack/tools/release/notes/main.go
  hack/tools/release/notes/main_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/release

#12461 🌱 Fix `make generate-go-openapi` if parent directory name does not equal `cluster-api`
  Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/ci

#12454 🌱 Add validation for Cluster spec.controlPlaneRef, spec.infrastructureRef and spec.topology
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_reconciler_test.go
  controllers/clustercache/cluster_accessor_test.go
  controllers/clustercache/cluster_cache_test.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  exp/internal/controllers/machinepool_controller_phases_test.go
  internal/controllers/cluster/cluster_controller_test.go
  internal/controllers/clusterresourceset/clusterresourceset_controller_test.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
  util/patch/patch_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/cluster

#12464 🌱 Remove explicit defaulting of MS deletePolicy, MHC maxUnhealthy, KCPTemplate rolloutStrategy
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplanetemplate.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplanetemplate_test.go
  exp/topology/desiredstate/desired_state_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/webhooks/machinehealthcheck.go
  internal/webhooks/machinehealthcheck_test.go
  internal/webhooks/machineset.go
  internal/webhooks/machineset_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/provider/control-plane-kubeadm, area/machineset, area/machinehealthcheck

#12452 ⚠️ Rename LastRemediationStatus.Timestamp to Time in KCP
  api/controlplane/kubeadm/v1beta1/conversion.go
  api/controlplane/kubeadm/v1beta1/zz_generated.conversion.go
  api/controlplane/kubeadm/v1beta2/kubeadm_control_plane_types.go
  api/controlplane/kubeadm/v1beta2/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/status_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/provider/control-plane-kubeadm

#12468 [release-1.9] :seedling: Add --etcd-client-log-level flag to KCP
  controlplane/kubeadm/controllers/alias.go
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/etcd/etcd.go
  controlplane/kubeadm/internal/etcd_client_generator.go
  controlplane/kubeadm/internal/etcd_client_generator_test.go
  controlplane/kubeadm/main.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/provider/control-plane-kubeadm

#12474 ⚠️ Add Minimum=0 marker to all MinReadySeconds fields
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machine_types.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/api

#12451 ⚠️ Migrate E2E tests to v1beta2
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/main/bases/crs.yaml
  test/e2e/data/infrastructure-docker/main/bases/md.yaml
  test/e2e/data/infrastructure-docker/main/bases/mp.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-ignition/ignition.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-in-memory.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-ipv6/cluster-ipv6.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-ipv6/kcp-ipv6.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-ipv6/md-ipv6.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-adoption/step1/cluster-with-cp0.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-pre-drain/cluster.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/mhc.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-scale-in/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-md-remediation/md.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-autoscaler/cluster-autoscaler.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv4-primary/cluster.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv6-primary/cluster.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-kcp-only/cluster-topology-class.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-no-workers/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-upgrades-runtimesdk/cluster-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-in-memory.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-kcp-only/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/extension/handlers/topologymutation/handler.go
  test/extension/handlers/topologymutation/handler_test.go
  test/extension/handlers/topologymutation/testdata/clusterclass-quick-start-runtimesdk.yaml
  test/infrastructure/docker/templates/cluster-template-development-mp.yaml
  test/infrastructure/docker/templates/cluster-template-development.yaml
  test/infrastructure/docker/templates/cluster-template-in-memory.yaml
  test/infrastructure/docker/templates/clusterclass-in-memory.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/e2e-testing

#12476 ⚠️ Change ClusterResourceSetBinding Bindings field from []*ResourceSetBinding to []ResourceSetBinding
  api/addons/v1beta1/conversion.go
  api/addons/v1beta1/conversion_test.go
  api/addons/v1beta1/zz_generated.conversion.go
  api/addons/v1beta2/clusterresourcesetbinding_types.go
  api/addons/v1beta2/zz_generated.deepcopy.go
  cmd/clusterctl/internal/test/fake_objects.go
  internal/api/addons/v1alpha3/conversion.go
  internal/api/addons/v1alpha3/conversion_test.go
  internal/api/addons/v1alpha3/zz_generated.conversion.go
  internal/api/addons/v1alpha4/conversion.go
  internal/api/addons/v1alpha4/conversion_test.go
  internal/api/addons/v1alpha4/zz_generated.conversion.go
  internal/controllers/clusterresourceset/clusterresourceset_helpers_test.go
  test/framework/clusterresourceset_helpers.go
  test/framework/clusterresourceset_helpers_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clusterresourceset

#12472 🌱 Improve CC RefVersionsUpToDate condition message
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/clusterclass/clusterclass_controller_status.go
  internal/controllers/clusterclass/clusterclass_controller_status_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clusterclass

#12465 ⚠️ Update ControlPlaneEndpoint InfraCluster contract, align CAPD to infra contracts
  docs/book/src/developer/providers/contracts/control-plane.md
  docs/book/src/developer/providers/contracts/infra-cluster.md
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
  test/infrastructure/docker/api/v1alpha3/conversion.go
  test/infrastructure/docker/api/v1alpha3/conversion_test.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion_test.go
  test/infrastructure/docker/api/v1alpha4/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta1/conversion.go
  test/infrastructure/docker/api/v1beta1/conversion_test.go
  test/infrastructure/docker/api/v1beta1/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta2/devcluster_types.go
  test/infrastructure/docker/api/v1beta2/devmachine_types.go
  test/infrastructure/docker/api/v1beta2/dockercluster_types.go
  test/infrastructure/docker/api/v1beta2/dockermachine_types.go
  test/infrastructure/docker/api/v1beta2/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devclustertemplates.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devmachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devmachinetemplates.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclustertemplates.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockercluster_backend.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockermachine_backend.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_backend.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/inmemory/pkg/server/listener.go
  test/infrastructure/inmemory/pkg/server/mux.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/api, area/provider/infrastructure-docker

#12488 🐛 Fix IPv6 CAPD e2e test
  test/e2e/data/infrastructure-docker/main/cluster-template-ipv6/cluster-ipv6.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/provider/infrastructure-docker

#12493 🚀 Release v1.10.4
  CHANGELOG/v1.10.4.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#12494 🚀 Release v1.11.0-beta.0
  CHANGELOG/v1.11.0-beta.0.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/release

#12500 🌱 Bump KAL and remove enum exclude
  .golangci-kal.yml
  hack/tools/.custom-gcl.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/ci

#12502 🐛 Bump cluster-autoscaler to v1.33, adjust RBAC, pin apiVersion to v1beta1
  test/e2e/autoscaler_test.go
  test/e2e/data/autoscaler/autoscaler-to-workload-workload.yaml
  test/framework/autoscaler_helpers.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/e2e-testing

#11962 📖 Update autoscaling from zero enhancement proposal with support for platform-aware autoscale from zero
  docs/book/src/developer/providers/contracts/infra-machine.md
  docs/proposals/20210310-opt-in-autoscaling-from-zero.md
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, ok-to-test, area/provider/core

#12509 🌱 Bump Go to v1.24.5
  Makefile
  Tiltfile
  netlify.toml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#12504 ⚠️ Restructure MHC fields in MHC, Cluster and ClusterClass CRDs
  .golangci-kal.yml
  api/core/v1beta1/conversion.go
  api/core/v1beta1/conversion_test.go
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machinehealthcheck_types.go
  api/core/v1beta2/zz_generated.deepcopy.go
  api/core/v1beta2/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/scope/blueprint.go
  exp/topology/scope/blueprint_test.go
  internal/api/core/v1alpha3/conversion.go
  internal/api/core/v1alpha3/zz_generated.conversion.go
  internal/api/core/v1alpha4/conversion.go
  internal/api/core/v1alpha4/conversion_test.go
  internal/api/core/v1alpha4/zz_generated.conversion.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
  internal/controllers/topology/cluster/blueprint.go
  internal/controllers/topology/cluster/blueprint_test.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
  internal/webhooks/clusterclass.go
  internal/webhooks/clusterclass_test.go
  internal/webhooks/machinehealthcheck.go
  internal/webhooks/machinehealthcheck_test.go
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/mhc.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-in-memory.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/extension/handlers/topologymutation/handler_integration_test.go
  test/framework/machinehealthcheck_helpers.go
  test/infrastructure/docker/templates/clusterclass-in-memory.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
  util/test/builder/builders.go
  util/test/builder/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/clusterclass, area/machinehealthcheck, area/cluster

#12514 🚀 Release v1.11.0-beta.1
  CHANGELOG/v1.11.0-beta.1.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/release

#12517 ✨ Add mTLS support to runtime extension server and client
  exp/runtime/server/server.go
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  main.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/runtime-sdk

#12521 📖 Improve migration doc
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/documentation

#12526 🐛 Fix flakes in TestAPIAndWebhookChanges unit test
  internal/topology/upgrade/clusterctl_upgrade_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/testing

#12531 [release-1.9] 🌱 Bump Go to v1.23.11
  Makefile
  Tiltfile
  netlify.toml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#12532 🌱 Remove unused ANCHOR comments
  api/addons/v1beta1/clusterresourceset_types.go
  api/addons/v1beta1/clusterresourcesetbinding_types.go
  api/addons/v1beta2/clusterresourceset_types.go
  api/addons/v1beta2/clusterresourcesetbinding_types.go
  api/core/v1beta1/cluster_types.go
  api/core/v1beta1/clusterclass_types.go
  api/core/v1beta1/condition_consts.go
  api/core/v1beta1/condition_types.go
  api/core/v1beta1/machine_types.go
  api/core/v1beta1/machinedeployment_types.go
  api/core/v1beta1/machinehealthcheck_types.go
  api/core/v1beta1/machinepool_types.go
  api/core/v1beta1/machineset_types.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/condition_types.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/machinedeployment_types.go
  api/core/v1beta2/machinehealthcheck_types.go
  api/core/v1beta2/machinepool_types.go
  api/core/v1beta2/machineset_types.go
  api/core/v1beta2/v1beta1_condition_consts.go
  api/runtime/v1alpha1/extensionconfig_types.go
  api/runtime/v1beta2/extensionconfig_types.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/documentation

#12534 🌱 Set print columns for v1beta2 types
  api/addons/v1beta2/clusterresourceset_types.go
  api/addons/v1beta2/clusterresourcesetbinding_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfigtemplate_types.go
  api/controlplane/kubeadm/v1beta2/kubeadm_control_plane_types.go
  api/controlplane/kubeadm/v1beta2/kubeadmcontrolplanetemplate_types.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/machinedeployment_types.go
  api/core/v1beta2/machinehealthcheck_types.go
  api/core/v1beta2/machinepool_types.go
  api/core/v1beta2/machineset_types.go
  api/runtime/v1beta2/extensionconfig_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/api

#12527 🌱 Print the entire object diff if resource versions are not stable in e2e tests
  test/framework/resourceversion_helpers.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#12536 🐛 Fix condition handling during controller start
  controllers/clustercache/cluster_accessor.go
  controllers/clustercache/cluster_accessor_test.go
  controllers/clustercache/cluster_cache.go
  controllers/clustercache/cluster_cache_fake.go
  controllers/clustercache/cluster_cache_test.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/conditions

#12538 ⚠️ Add additional MinProperties & MinItems validation across multiple APIs
  api/addons/v1beta2/clusterresourceset_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
  api/core/v1beta2/clusterclass_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
  internal/controllers/clusterresourceset/clusterresourceset_controller_test.go
  internal/webhooks/cluster.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/api

#12539 ⚠️ Change envVars fields from []EnvVar to *[]EnvVar
  .golangci-kal.yml
  api/bootstrap/kubeadm/v1beta1/conversion.go
  api/bootstrap/kubeadm/v1beta1/conversion_test.go
  api/bootstrap/kubeadm/v1beta1/zz_generated.conversion.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/zz_generated.deepcopy.go
  api/controlplane/kubeadm/v1beta1/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
  internal/api/bootstrap/kubeadm/v1alpha3/conversion_test.go
  internal/api/bootstrap/kubeadm/v1alpha4/conversion_test.go
  internal/api/controlplane/kubeadm/v1alpha3/conversion_test.go
  internal/api/controlplane/kubeadm/v1alpha4/conversion_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/control-plane-kubeadm, area/provider/bootstrap-kubeadm

#12543 📖 Document new certificateValidity fields
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/provider/control-plane-kubeadm, area/provider/bootstrap-kubeadm

#12544 🚀 Release v1.11.0-beta.2
  CHANGELOG/v1.11.0-beta.2.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/release

#12546 🌱 Add resource version check to clusterctl upgrade tests
  test/e2e/clusterctl_upgrade.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/e2e-testing

#12550 ⚠️ Add omitzero on struct without zero value
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfigtemplate_types.go
  api/controlplane/kubeadm/v1beta2/kubeadm_control_plane_types.go
  api/controlplane/kubeadm/v1beta2/kubeadmcontrolplanetemplate_types.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/machinedeployment_types.go
  api/core/v1beta2/machinedrainrules_types.go
  api/core/v1beta2/machinepool_types.go
  api/core/v1beta2/machineset_types.go
  api/ipam/v1beta2/ipaddress_types.go
  api/ipam/v1beta2/ipaddressclaim_types.go
  api/runtime/v1beta2/extensionconfig_types.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/api

#12552 🌱 Fix ResourceVersion flake for MachinePools
  test/framework/resourceversion_helpers.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/e2e-testing

#12480 ⚠️ Update example manifests
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/provider/infrastructure-docker

#12554 🐛 Fix timeout handling in GetAPIServerCertificateExpiry and DialContext
  controlplane/kubeadm/internal/proxy/dial.go
  controlplane/kubeadm/internal/workload_cluster.go
Labels: size/S, cncf-cla: yes, lgtm, approved, ok-to-test, area/provider/control-plane-kubeadm

#12561 🌱 Improve validation of worker topology names in Cluster resource
  api/core/v1beta2/cluster_types.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  internal/topology/check/compatibility.go
  internal/topology/check/compatibility_test.go
  internal/webhooks/test/cluster_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clusterclass

#12557 🌱 Set extraArgs in test extension
  test/extension/handlers/topologymutation/handler.go
  test/extension/handlers/topologymutation/handler_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/e2e-testing
