Repository kubernetes-sigs/cluster-api, pull requests merged in 2025-06, with the labels that each got.

#12333 🌱 Small improvements to docs
  docs/book/src/developer/providers/contracts/clusterctl.md
  docs/book/src/developer/providers/contracts/control-plane.md
  docs/book/src/developer/providers/contracts/infra-cluster.md
  docs/book/src/developer/providers/contracts/infra-machine.md
  docs/book/src/developer/providers/contracts/overview.md
  docs/book/src/reference/providers.md
Labels: size/S, cncf-cla: yes, lgtm, approved, area/documentation

#12083 ⚠️ Enable nomaps linter, Remove unused kubeadm ClusterStatus struct, Migrate Cluster.status.failureDomains to array
  .golangci-kal.yml
  api/bootstrap/kubeadm/v1beta1/zz_generated.conversion.go
  api/bootstrap/kubeadm/v1beta2/conversion.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/zz_generated.deepcopy.go
  api/core/v1beta1/conversion.go
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/zz_generated.deepcopy.go
  api/core/v1beta2/zz_generated.openapi.go
  cmd/clusterctl/client/tree/discovery.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  controllers/crdmigrator/crd_migrator.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/scale_test.go
  docs/book/src/developer/providers/contracts/infra-cluster.md
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
  exp/internal/controllers/machinepool_controller_phases.go
  internal/api/bootstrap/kubeadm/v1alpha4/kubeadm_types.go
  internal/api/bootstrap/kubeadm/v1alpha4/zz_generated.conversion.go
  internal/api/bootstrap/kubeadm/v1alpha4/zz_generated.deepcopy.go
  internal/api/core/v1alpha3/conversion.go
  internal/api/core/v1alpha3/zz_generated.conversion.go
  internal/api/core/v1alpha4/conversion.go
  internal/api/core/v1alpha4/zz_generated.conversion.go
  internal/contract/infrastructure_cluster.go
  internal/contract/infrastructure_cluster_test.go
  internal/contract/version.go
  internal/contract/version_test.go
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/cluster/cluster_controller_phases_test.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machineset/machineset_controller.go
  test/e2e/clusterclass_changes.go
  test/framework/controlplane_helpers.go
  util/conversion/conversion.go
  util/conversion/conversion_test.go
  util/failuredomains/failure_domains.go
  util/failuredomains/failure_domains_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/api, area/provider/control-plane-kubeadm, area/provider/bootstrap-kubeadm, area/ci

#12096 :bug: Fix potential panic if ClusterResourceSetStrategy is not defined or incorrect
  internal/controllers/clusterresourceset/clusterresourceset_scope.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clusterresourceset

#12309 :book: add scale from zero to contract docs
  docs/book/src/developer/providers/contracts/infra-machine.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/documentation

#12351 🌱 Bump to Go v1.24.4, github.com/cloudflare/circl v1.6.1
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  netlify.toml
  test/go.mod
  test/go.sum
Labels: size/S, cncf-cla: yes, lgtm, approved, area/dependency

#12106 :seedling: Avoid large number of connection error traces in kubeadm controlplane controller
  controlplane/kubeadm/internal/controllers/controller.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash, area/control-plane

#12350 ⚠️ remove TypeMeta from KubeadmConfigSpec
  api/bootstrap/kubeadm/v1beta1/conversion.go
  api/bootstrap/kubeadm/v1beta1/zz_generated.conversion.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/types/upstreamhub/conversions.go
  bootstrap/kubeadm/types/upstreamhub/doc.go
  bootstrap/kubeadm/types/upstreamhub/types.go
  bootstrap/kubeadm/types/upstreamhub/zz_generated.deepcopy.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  bootstrap/kubeadm/types/utils.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
  controlplane/kubeadm/internal/workload_cluster_test.go
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
  internal/api/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/api/bootstrap/kubeadm/v1alpha3/zz_generated.conversion.go
  internal/api/bootstrap/kubeadm/v1alpha4/conversion.go
  internal/api/bootstrap/kubeadm/v1alpha4/zz_generated.conversion.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/provider/control-plane-kubeadm, area/provider/bootstrap-kubeadm

#12354 [release-1.10] 🌱 Bump to Go v1.23.10, github.com/cloudflare/circl v1.6.1
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  netlify.toml
  test/go.mod
  test/go.sum
Labels: size/S, cncf-cla: yes, lgtm, approved, area/dependency

#12352 ⚠️ Drop unnecessary fields from Machine status.nodeRef
  api/core/v1beta1/conversion.go
  api/core/v1beta1/conversion_test.go
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta2/index/machine_test.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/zz_generated.deepcopy.go
  api/core/v1beta2/zz_generated.openapi.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  bootstrap/util/configowner_test.go
  cmd/clusterctl/client/cluster/mover_test.go
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/remediation_test.go
  controlplane/kubeadm/internal/controllers/scale_test.go
  controlplane/kubeadm/internal/controllers/status_test.go
  controlplane/kubeadm/internal/workload_cluster_conditions_test.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
  internal/api/core/v1alpha3/conversion_test.go
  internal/api/core/v1alpha3/zz_generated.conversion.go
  internal/api/core/v1alpha4/conversion_test.go
  internal/api/core/v1alpha4/zz_generated.conversion.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/cluster/cluster_controller_test.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/machinedeployment/suite_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
  internal/controllers/machineset/machineset_delete_policy_test.go
  internal/controllers/machineset/suite_test.go
  test/framework/deployment_helpers_test.go
  test/framework/machine_helpers.go
  test/framework/machinehealthcheck_helpers.go
  util/collections/machine_filters_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/machine

#12369 ⚠️ Clusterctl describe defaults to v1beta2
  cmd/clusterctl/client/describe.go
  cmd/clusterctl/client/tree/discovery.go
  cmd/clusterctl/client/tree/tree.go
  cmd/clusterctl/client/tree/tree_test.go
  cmd/clusterctl/cmd/describe_cluster.go
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
  internal/util/tree/tree_test.go
  test/framework/cluster_helpers.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clusterctl

#12370 🚀 Release v1.10.3
  CHANGELOG/v1.10.3.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#12371 🚀 Release v1.9.9
  CHANGELOG/v1.9.9.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#12382 📖 Fix broken link to CAPZ prerequisites
  docs/book/src/user/quick-start.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/documentation

#12362 ⚠️ Promote v1beta2 condition in CAPD
  test/go.mod
  test/infrastructure/docker/api/v1alpha3/conversion.go
  test/infrastructure/docker/api/v1alpha3/conversion_test.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion_test.go
  test/infrastructure/docker/api/v1alpha4/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta1/conversion.go
  test/infrastructure/docker/api/v1beta1/conversion_test.go
  test/infrastructure/docker/api/v1beta1/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta2/devcluster_types.go
  test/infrastructure/docker/api/v1beta2/devmachine_types.go
  test/infrastructure/docker/api/v1beta2/dockercluster_types.go
  test/infrastructure/docker/api/v1beta2/dockermachine_types.go
  test/infrastructure/docker/api/v1beta2/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devmachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/exp/api/v1alpha3/conversion.go
  test/infrastructure/docker/exp/api/v1alpha3/conversion_test.go
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1alpha4/conversion.go
  test/infrastructure/docker/exp/api/v1alpha4/conversion_test.go
  test/infrastructure/docker/exp/api/v1alpha4/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1beta1/conversion.go
  test/infrastructure/docker/exp/api/v1beta1/conversion_test.go
  test/infrastructure/docker/exp/api/v1beta1/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1beta2/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1beta2/zz_generated.deepcopy.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_controller_test.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, area/provider/infrastructure-docker

#12379 :seedling: Fix e2e test capi-e2e-release-1.8
  test/e2e/self_hosted.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/testing, area/ci

#12393 ⚠️ conditions: add V1Beta1 suffix and remove V1Beta2 suffix from condition types and reasons in CAPD v1beta2 packages
  test/infrastructure/docker/api/v1beta2/devcluster_types.go
  test/infrastructure/docker/api/v1beta2/devmachine_types.go
  test/infrastructure/docker/api/v1beta2/v1beta1_condition_consts.go
  test/infrastructure/docker/api/v1beta2/v1beta2_condition_consts.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockercluster_backend.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockermachine_backend.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_backend.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/provider/infrastructure-docker

#12405 🌱 Ensure CAPD v1beta1 API package only imports core v1beta1
  test/infrastructure/docker/api/v1beta1/condition_consts.go
  test/infrastructure/docker/api/v1beta1/conversion.go
  test/infrastructure/docker/api/v1beta1/devcluster_types.go
  test/infrastructure/docker/api/v1beta1/devmachine_types.go
  test/infrastructure/docker/api/v1beta1/dockercluster_types.go
  test/infrastructure/docker/api/v1beta1/dockermachine_types.go
  test/infrastructure/docker/api/v1beta1/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta1/zz_generated.deepcopy.go
  test/infrastructure/docker/exp/api/v1beta1/conversion.go
  test/infrastructure/docker/exp/api/v1beta1/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1beta1/dockermachinepooltemplate_types.go
  test/infrastructure/docker/exp/api/v1beta1/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1beta1/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/infrastructure-docker

#12402 ⚠️ KCP tolerates diff not leading to changes on machines
  bootstrap/kubeadm/internal/cloudinit/cloudinit_test.go
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/provider/control-plane-kubeadm

#12410 :bug: Bug fix to set machinedeployment AvailableReplicas
  internal/controllers/machinedeployment/machinedeployment_sync.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/machinedeployment

#12412 🐛 Ensure all pointer status fields are dereferenced correctly
  exp/internal/controllers/machinepool_controller_noderef.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/machinedeployment/machinedeployment_rolling.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/util/tree/tree.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/api

#12411 🌱 KCP: Set MinItems=1 on ExternalEtcd.Endpoints
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/provider/control-plane-kubeadm, area/provider/bootstrap-kubeadm

#12416 🌱 Ensure Cluster.status.failureDomains are alphabetically sorted
  api/core/v1beta1/conversion.go
  api/core/v1beta1/conversion_test.go
  internal/api/core/v1alpha3/conversion.go
  internal/api/core/v1alpha3/conversion_test.go
  internal/api/core/v1alpha4/conversion.go
  internal/api/core/v1alpha4/conversion_test.go
  internal/contract/infrastructure_cluster.go
  internal/contract/infrastructure_cluster_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/cluster
