Repository kubernetes-sigs/cluster-api, pull requests merged in 2025-01, with the labels that each got.

#11628 📖 Update deprecations in improve status proposal
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/documentation

#11629 🌱 Fix log messages in Cluster set status code + some minor unit test fixes
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  util/conditions/v1beta2/merge_strategies_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/conditions

#11632 🌱 Bump envtest to v1.32.0
  Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#11643 🌱 Bump to controller-runtime v0.19.4
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Labels: size/S, cncf-cla: yes, lgtm, approved, area/dependency

#11652 🐛 Fix broken links in release team handbooks
  docs/release/role-handbooks/release-lead/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/release

#11477 🌱 Add Infrastructure provider Harvester
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/user/quick-start.md
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, ok-to-test, area/clusterctl

#11607 🌱 Fix reconcile extensions dashboard
  hack/observability/grafana/dashboards/runtime-extensions.json
Labels: cncf-cla: yes, lgtm, size/M, approved, area/devtools

#11586 🌱 Bump sigs.k8s.io/kind to v0.26.0
  hack/ensure-kind.sh
  test/framework/bootstrap/kind_provider.go
  test/go.mod
  test/go.sum
  test/infrastructure/kind/mapper.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/dependency

#11648 📖 Update Cluster API release-1.10 release team members
  OWNERS_ALIASES
  docs/release/releases/release-1.10.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/release

#11647 🌱 Prepare main branch for v1.10 development
  Makefile
  cmd/clusterctl/hack/create-local-repository.py
  docs/release/role-handbooks/release-lead/README.md
  hack/tools/internal/tilt-prepare/main.go
  metadata.yaml
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/v1.7/bases/mp.yaml
  test/e2e/data/infrastructure-docker/v1.9/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.9/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/v1.9/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v1.9/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.9/cluster-template-topology/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.9/cluster-template/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.9/clusterclass-quick-start.yaml
  test/e2e/data/shared/main/metadata.yaml
  test/e2e/data/shared/v1.9/metadata.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/release

#11659 🌱 Follow up of 11647
  docs/release/role-handbooks/release-lead/README.md
  test/e2e/clusterctl_upgrade_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/release

#11660 🌱 Reduce log level of noisy logs in ExtensionConfig and Cluster controller
  exp/runtime/internal/controllers/extensionconfig_controller.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/runtime/client/client.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/logging

#11661 🌱 Fix formatting of blocking lifecycle hook condition message
  exp/topology/scope/hookresponsetracker.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/conditions

#11662 🌱 Add log command line flags to e2e test binary
  test/e2e/e2e_suite_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/e2e-testing

#11663 🐛 Fix periodic resync in in-memory provider
  test/infrastructure/inmemory/pkg/runtime/cache/client_test.go
  test/infrastructure/inmemory/pkg/runtime/cache/informer.go
  test/infrastructure/inmemory/pkg/runtime/cache/sync_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/provider/infrastructure-in-memory

#11664 🌱 KCP: stop recreating logger for etcd client
  controlplane/kubeadm/internal/etcd/etcd.go
  go.mod
Labels: size/S, cncf-cla: yes, lgtm, approved, area/provider/control-plane-kubeadm

#11665 🌱 patchHelper: call toUnstructured only if necessary
  util/patch/patch.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/util

#11651 🌱 Bump github.com/coredns/corefile-migration to v1.0.25
  docs/book/src/reference/versions.md
  go.mod
  go.sum
  hack/tools/go.sum
  test/go.sum
Labels: size/S, cncf-cla: yes, lgtm, approved, tide/merge-method-squash, area/dependency

#11680 [release-1.8] 🌱 Bump github.com/coredns/corefile-migration to v1.0.25
  docs/book/src/reference/versions.md
  go.mod
  go.sum
  hack/tools/go.sum
  test/go.sum
Labels: size/S, cncf-cla: yes, lgtm, approved, tide/merge-method-squash, area/dependency

#11682 [release-1.8] 🌱 KCP: stop recreating logger for etcd client
  controlplane/kubeadm/internal/etcd/etcd.go
  go.mod
Labels: size/S, cncf-cla: yes, lgtm, approved, area/provider/control-plane-kubeadm

#11683 [release-1.8] 🌱 patchHelper: call toUnstructured only if necessary
  util/patch/patch.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/util

#11685 🌱 observability: improvements to grafana and loki
  hack/observability/grafana/dashboards/controller-runtime.json
  hack/observability/loki/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, area/devtools

#11684 [release-1.8] 🌱 Call patchHelper only if necessary when reconciling external refs
  .golangci.yml
  controlplane/kubeadm/internal/controllers/helpers.go
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machineset/machineset_controller.go
  util/util.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/util

#11688 🐛 Also patch external refs if the UID differs
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/machine/machine_controller_phases.go
  util/util.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/util

#11696 📖 Adds RKE2 to list of providers
  docs/book/src/reference/providers.md
Labels: size/S, cncf-cla: yes, lgtm, kind/documentation, approved, ok-to-test, area/documentation

#11698 ✨ Add PriorityQueue feature gate
  bootstrap/kubeadm/config/manager/manager.yaml
  bootstrap/kubeadm/main.go
  config/manager/manager.yaml
  controlplane/kubeadm/config/manager/manager.yaml
  controlplane/kubeadm/main.go
  docs/book/src/tasks/experimental-features/experimental-features.md
  feature/feature.go
  internal/test/envtest/environment.go
  main.go
  test/e2e/config/docker.yaml
  test/extension/config/default/manager.yaml
  test/extension/main.go
  test/infrastructure/docker/config/manager/manager.yaml
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/config/manager/manager.yaml
  test/infrastructure/inmemory/main.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/controller-runtime

#11692 🌱 Improve Machine remediation logs
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
Labels: size/S, cncf-cla: yes, lgtm, approved, tide/merge-method-squash, area/machinehealthcheck

#11699 🌱Bump cert-manager to v1.16.3
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/getting-started.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clusterctl

#11701 [release-1.9] 📖 Adds RKE2 to list of providers
  docs/book/src/reference/providers.md
Labels: size/S, cncf-cla: yes, lgtm, kind/documentation, approved, ok-to-test, area/documentation

#11707 🐛 clustercache: Prevent concurrent map read/write when creating a cache
  controllers/clustercache/cluster_accessor_client.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clustercachetracker

#11365 :sparkles: Promote feature CRS to GA
  .golangci.yml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  docs/book/src/SUMMARY.md
  docs/book/src/tasks/cluster-resource-set.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  exp/addons/api/v1beta1/clusterresourceset_types.go
  feature/feature.go
Labels: size/S, cncf-cla: yes, lgtm, approved, tide/merge-method-squash, area/api, area/documentation, area/clusterresourceset

#11693 🌱 Improve Machine create and delete logs
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/scale.go
  internal/controllers/machineset/machineset_controller.go
  util/collections/machine_collection.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/machine

#11713 🌱 govulncheck: bump to v1.1.4
  Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/ci

#11714 🌱 Bump go to v1.23.5
  Makefile
  Tiltfile
  netlify.toml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#11211 🌱 MachineSet controller: delete Bootstrap object when creating InfraMachine object failed
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test, area/machineset

#11686 🌱 Add ginkgo labels to e2e tests
  test/e2e/autoscaler_test.go
  test/e2e/cluster_deletion_test.go
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/cluster_upgrade_test.go
  test/e2e/clusterclass_changes_test.go
  test/e2e/clusterclass_rollout_test.go
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/k8s_conformance_test.go
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/e2e-testing

#11702 📖 Add v1.10 migration guide
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/migrations/v1.6-to-v1.7.md
  docs/book/src/developer/providers/migrations/v1.9-to-v1.10.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/documentation

#11703 📖 Update CAPI support and guarantees for v1.10
  CONTRIBUTING.md
  docs/book/src/reference/versions.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/documentation

#11723 📖 Update CAPO quick-start docs
  docs/book/src/user/quick-start.md
Labels: size/S, cncf-cla: yes, lgtm, approved, area/documentation

#11716 🌱 Improve KCP remediation of multiple failures
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/remediation_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/provider/control-plane-kubeadm

#11635 :seedling: Add SSA cache metrics
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/upgrade_test.go
  exp/internal/controllers/machinepool_controller.go
  exp/internal/controllers/machinepool_controller_phases_test.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/controllers/topology/cluster/structuredmerge/dryrun.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper_test.go
  internal/util/ssa/cache.go
  internal/util/ssa/metrics.go
  internal/util/ssa/patch.go
  internal/util/ssa/patch_test.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/util

#11726 [release-1.8] 🌱 Bump cert-manager to v1.16.3
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/guide.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, area/clusterctl

#11727 🐛 Default to topology flavor in NodeDrainTimeoutSpec
  test/e2e/node_drain.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/testing

#11728 :bug: Fix flake TestMachineSetReconciler test
  internal/controllers/machineset/machineset_controller_test.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/testing

#11352 ✨ Add classNamespace to topology
  api/v1beta1/cluster_types.go
  api/v1beta1/index/cluster.go
  api/v1beta1/index/cluster_test.go
  api/v1beta1/index/index.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  docs/book/src/tasks/experimental-features/cluster-class/write-clusterclass.md
  internal/apis/core/v1alpha4/conversion.go
  internal/apis/core/v1alpha4/zz_generated.conversion.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/controllers/topology/cluster/suite_test.go
  internal/topology/check/compatibility.go
  internal/topology/check/compatibility_test.go
  internal/webhooks/clusterclass.go
  internal/webhooks/clusterclass_test.go
  util/test/builder/builders.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/clusterclass

#11172 🌱 Add NamingStrategy to MachineDeployment
  .golangci.yml
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/machineset_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/main.go
  exp/topology/desiredstate/desired_state_test.go
  internal/apis/core/v1alpha3/conversion.go
  internal/apis/core/v1alpha3/zz_generated.conversion.go
  internal/apis/core/v1alpha4/conversion.go
  internal/apis/core/v1alpha4/zz_generated.conversion.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/machinedeployment_sync_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/topology/names/names.go
  internal/webhooks/clusterclass.go
  internal/webhooks/machinedeployment.go
  internal/webhooks/machinedeployment_test.go
  internal/webhooks/machineset.go
  internal/webhooks/machineset_test.go
  main.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/machineset, area/machinedeployment

#11732 🌱 topology: fix godoc for LocalObjectTemplatesAreCompatible
  internal/topology/check/compatibility.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/clusterclass

#11679 ⚠️ Remove deprecated flag for old infra machine naming
  config/manager/manager.yaml
  controllers/alias.go
  controlplane/kubeadm/config/manager/manager.yaml
  controlplane/kubeadm/controllers/alias.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/main.go
  internal/controllers/machineset/machineset_controller.go
  main.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/provider/control-plane-kubeadm, area/machineset

#11739 [release-1.9] 🌱 Bump go to v1.22.11
  Makefile
  Tiltfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#11738 [release-1.8] 🌱 Bump go to v1.22.11
  Makefile
  Tiltfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dependency

#11740 🌱 Update golangci-lint to v1.63.4
  .github/workflows/pr-golangci-lint.yaml
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
  exp/internal/controllers/machinepool_controller_phases.go
  exp/runtime/internal/controllers/extensionconfig_controller_test.go
  exp/topology/desiredstate/desired_state_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  test/e2e/clusterclass_changes.go
  test/e2e/self_hosted.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/ci

#11545 :sparkles: Add MachineDrainRule "WaitCompleted"
  api/v1beta1/machinedrainrules_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_machinedrainrules.yaml
  docs/proposals/20240930-machine-drain-rules.md
  internal/controllers/machine/drain/drain.go
  internal/controllers/machine/drain/drain_test.go
  internal/controllers/machine/drain/filters.go
  internal/controllers/machine/machine_controller.go
  internal/webhooks/machinedrainrules.go
  internal/webhooks/test/machinedrainrules_test.go
  test/e2e/node_drain.go
  test/framework/deployment_helpers.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, priority/important-soon, area/machine

#11741 ⚠️ Deprecate the ClusterResourceSet feature flag
  .golangci.yml
  feature/feature.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/clusterresourceset

#10681 🌱 Test BYO certificates
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/suite_test.go
  exp/addons/internal/controllers/suite_test.go
  internal/test/envtest/environment.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/testing

#11495 :seedling: Prioritize Machine with remediate-machine anotation when selecting the next machine to be remediated
  api/v1beta1/common_types.go
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/remediation_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/provider/control-plane-kubeadm, area/machineset

#11667 ✨ Extend scale test and make ExtensionConfig name in RuntimeSDK test configurable
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  test/e2e/data/infrastructure-inmemory/main/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-inmemory/main/clusterclass-in-memory.yaml
  test/e2e/scale.go
  test/e2e/scale_test.go
  test/framework/clusterctl/clusterctl_helpers.go
  test/framework/clusterctl/e2e_config.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/e2e-testing

#11747 :seedling: Bump to controller-runtime v0.20.1
  controllers/clustercache/cluster_accessor_client.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Labels: size/S, cncf-cla: yes, lgtm, approved, area/controller-runtime

#11748 [release-1.9] :seedling: Bump to controller-runtime v0.19.5
  controllers/clustercache/cluster_accessor_client.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Labels: size/S, cncf-cla: yes, lgtm, approved, area/controller-runtime

#11744 🌱 Deprecate old ClusterClass index
  api/v1beta1/index/cluster.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/clusterclass

#11735 🌱 Use labels for kustomize
  docs/book/src/developer/providers/contracts/bootstrap-config.md
  docs/book/src/developer/providers/contracts/control-plane.md
  docs/book/src/developer/providers/contracts/infra-cluster.md
  docs/book/src/developer/providers/contracts/infra-machine.md
  docs/book/src/developer/providers/getting-started/building-running-and-testing.md
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/documentation

#11752 📖 Update Machine deletion doc
  docs/book/src/tasks/automated-machine-management/machine_deletions.md
  docs/proposals/20240930-machine-drain-rules.md
Labels: cncf-cla: yes, lgtm, size/M, approved, area/documentation

#11755 🌱 Drop 1.0->current upgrade test
  Makefile
  docs/book/src/clusterctl/commands/upgrade.md
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.0/cluster-template/kustomization.yaml
  test/e2e/data/shared/v1.0/metadata.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/ci

#11650 🌱 Add --additional-sync-machine-labels to allow syncing additional labels to Nodes
  controllers/alias.go
  docs/book/src/reference/api/metadata-propagation.md
  docs/proposals/20220927-label-sync-between-machine-and-nodes.md
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/suite_test.go
  main.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/machine

#11731 :book: Moving CNI troubleshooting section from KubeVirt tab
  docs/book/src/user/quick-start.md
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/documentation

#11759 :seedling: Attempt older version upgrades twice to work around flake with the docker controller
  test/e2e/clusterctl_upgrade_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/e2e-testing

#11762 [release-1.9] 🌱 Add --additional-sync-machine-labels to allow syncing additional labels to Nodes
  controllers/alias.go
  docs/book/src/reference/api/metadata-propagation.md
  docs/proposals/20220927-label-sync-between-machine-and-nodes.md
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/suite_test.go
  main.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/machine

#11751 🌱 Improve MachineSet create and delete logs
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
Labels: size/S, cncf-cla: yes, lgtm, approved, area/machinedeployment

#11757 🐛 ClusterCache: Increase timeout for informer List+Watch calls from 10s to 11m
  controllers/clustercache/cluster_accessor.go
  controllers/clustercache/cluster_accessor_client.go
  controllers/clustercache/cluster_accessor_test.go
  controllers/clustercache/cluster_cache.go
  controllers/clustercache/cluster_cache_test.go
  controlplane/kubeadm/internal/cluster_test.go
  exp/addons/internal/controllers/suite_test.go
  exp/internal/controllers/suite_test.go
  internal/controllers/cluster/suite_test.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/suite_test.go
  internal/controllers/machinedeployment/suite_test.go
  internal/controllers/machinehealthcheck/suite_test.go
  internal/controllers/machineset/suite_test.go
  internal/controllers/topology/cluster/suite_test.go
  internal/test/envtest/environment.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/clustercache

#11734 :book: Update KubeVirt quickstart guide
  docs/book/src/user/quick-start.md
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/documentation

#11769 🌱 observability: split up grafana configmap to not exceed the size limits on reoccuring apply
  hack/observability/grafana/chart/values.yaml
  hack/observability/grafana/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/devtools
